<template>
  <div>
    <footer class="container-fluid mt-5">
      <div class="flex-column" >
        <div>
          <div class="row ml-4 align-items-start" style="position: relative; top: 20px">
            <div><a target="_blank" v-bind:class="responsiveLinksSize" href="https://www.facebook.com/jamnasoftware/"><i class="fab fa-facebook-f fa-2x mr-4"></i></a></div>
            <div><a target="_blank" v-bind:class="responsiveLinksSize" href="https://www.instagram.com/jamnasoftware/"><i class="fab fa-instagram fa-2x mr-4"></i></a></div>
            <div v-if="$mq==='lg' || $mq==='bg'" class="mb-4"><a target="_blank" v-bind:class="responsiveLinksSize" href="https://gitlab.com/jamnasoftware/jamnasoftwarepl"><i class="fab fa-github fa-2x mr-2"></i></a></div>
            <div v-else class="mb-4"><a target="_blank" v-bind:class="responsiveLinksSize" href="https://gitlab.com/jamnasoftware/jamnasoftwarepl"><i class="fab fa-github fa-2x mr-2"></i></a></div>
          </div>
          <p class="crafted-text text-left ml-4 mt-3"  style="pos">Crafted with love <i class="fas fa-heart mr-1 ml-1" style="color:#f5302a;"></i> in Stargard, PL</p>
          <div>
          <a v-bind:class="responsiveIdosellPartner" target="_blank" href="https://www.idosell.com"><img style="width: 100px;" src="../../assets/static/img/iai2.png"></a></div>
        </div>

        <div class="d-flex flex-column text-left ml-4 mt-5">
             <p class="navigation-block__title">GO TO</p>
             <router-link to="/idosell-shop" class="navigation-block__item"><span><span @mouseover="mouseOver($event)" @mouseleave="mouseLeave($event)">idosell shop</span></span></router-link>
            <router-link to="/services" class="navigation-block__item"><span><span @mouseover="mouseOver($event)" @mouseleave="mouseLeave($event)">services</span></span></router-link>
            <router-link to="/showcase" class="navigation-block__item"><span><span @mouseover="mouseOver($event)" @mouseleave="mouseLeave($event)">showcase</span></span></router-link>
            <router-link to="/jobs" class="navigation-block__item"><span><span @mouseover="mouseOver($event)" @mouseleave="mouseLeave($event)">jobs</span></span></router-link>
        </div>

        <div class="d-flex flex-column text-left help-block ml-4">
          <div class="help-block__title">HELP</div>
          <div class="help-block__item2">biuro@jamnasoftware.pl</div>
          <div class="help-block__item2">8:00am - 5:00pm </div>
        </div>

        <div class="jamna-block">
          <div v-bind:class='responsiveFooterLeft'>
            <div v-bind:class="responsiveFooterTitleLeft">
              <span class="footer__left__title--white"><strong>jamna</strong></span> <span class="footer__left__title--blue"><strong>software</strong></span>
              <p class="text-left footer__left__since-text"><i class="fas fa-rocket mr-2"></i>since 2018</p>
            </div>
            <div v-bind:class="responsiveFooterBodyLeft">
              <div class="text-left" style="padding-bottom: 3px;">73-110, Stargard</div>
              <div class="text-left" style="padding-bottom: 3px;">ul. Niepodległości 57/3</div>
              <div class="text-left" style="padding-bottom: 3px;">NIP 8542421920</div>
            </div>
          </div>
        </div>

      </div>
    </footer>
  </div>
</template>


<script>
export default {
  name: 'FooterSmall',

  props: {
    msg: String
  },

  computed: {

    responsiveIdosellPartner: function() {
      let ido_class = 'mr-2 idosell'
      if (this.$mq==='md') ido_class = 'idosell-md'
      return ido_class
    },

    responsiveFooterLeft: function() {
      let left_class = 'footer__left ml-4'
      if (this.$mq==='md') left_class = 'footer__left footer__left-md ml-4'
      if (this.$mq==='sm') left_class = 'footer__left footer__left-sm ml-4'
      return left_class
    },

    responsiveStreet: function() {
      let street_class = ''
      if (this.$mq==='xs' || this.$mq==='sm') street_class = 'street-position-sm'
      if (this.$mq==='md') street_class = ' street-position-md'
      return street_class
    },

    responsiveFooterRightContainer: function() {
      let right_class = ''
      if (this.$mq==='md') {
        right_class = 'footer__right__container-md'
      }
      return right_class
    },

    responsiveLinksSize: function() {
      let links_class = 'footer__links'

      if (this.$mq==='xs') {
        links_class = 'footer__links-xs'
      }
      return links_class

    },

    responsiveFooterTitleLeft: function() {
      let footer_class = ' text-left footer__left__title ml-4'
      if (this.$mq==='sm') footer_class = 'text-left footer__left__title-sm'
      if (this.$mq==='xs') footer_class = 'text-left footer__left__title-xs' 
      if (this.$mq==='md') footer_class = 'text-left footer__left__title-md'
      
      return footer_class;
    },

    responsiveFooterBodyLeft: function() {
      let footer_class = 'd-flex flex-column align-items-start ml-4 footer__left__body'
      if (this.$mq==='sm') footer_class = ' footer__left__body-sm'
        if (this.$mq==='md') footer_class = ' footer__left__body-md'
      if (this.$mq==='xs') footer_class = ' footer__left__body-sm'
      return footer_class
    },

    responsiveFooterTitleRight: function() {
      let footer_class = 'text-left footer__right__title'
      if(this.$mq==='sm') footer_class = 'footer__right__title-sm'
      if(this.$mq==='xs') footer_class = 'footer__right__title-sm'

      return footer_class
    },

    responsiveFooterBodyRight: function() {
      let footer_class = 'd-flex align-items-start footer__right___body'
      if(this.$mq==='sm') footer_class += ' footer__right__body-sm'
      if(this.$mq==='xs') footer_class += ' footer__right__body-sm'

      return footer_class
    }
  }
}
</script>

<style lang="scss" scoped>
   @import '../../assets/scss/rwd/footer_small.scss'
</style>
