<template>
  <div>
    <footer class="container-fluid mt-5">
      <div class="row align-items-center justify-content-around" >
        <div v-bind:class="responsiveFooterRightContainer">
          <div class="d-flex align-items-start footer__right___body">
            <div><a target="_blank" class="footer__links" href="https://www.facebook.com/jamnasoftware/"><i class="fab fa-facebook-f fa-2x mr-4"></i></a></div>
            <div><a target="_blank" class="footer__links" href="https://www.instagram.com/jamnasoftware/"><i class="fab fa-instagram fa-2x mr-4"></i></a></div>
            <div v-if="$mq==='lg' || $mq==='bg'" class="mb-4"><a target="_blank" class="footer__links" href="https://gitlab.com/jamnasoftware/jamnasoftwarepl"><i class="fab fa-github fa-2x mr-2"></i></a></div>
            <div v-else class="mb-4"><a target="_blank" class="footer__links" href="https://gitlab.com/jamnasoftware/jamnasoftwarepl"><i class="fab fa-github mr-2"></i></a></div>
          </div>
          <p class="crafted-text">Crafted with love <i class="fas fa-heart mr-1 ml-1" style="color:#f5302a;"></i> in Stargard, PL</p>
          <a class="mr-2 idosell" target="_blank" href="https://www.idosell.com"><img style="width: 120px;" src="../../assets/static/img/iai2.png"></a>
        </div>

        <div v-bind:class="responsiveNavigationBlock">
             <p class="navigation-block__title">Navigation</p>
             <router-link to="/idosell-shop" v-bind:class="responsiveNavigationItem"><span>idosell shop</span></router-link>
            <router-link to="/services" v-bind:class="responsiveNavigationItem"><span>services</span></router-link>
            <router-link to="/showcase" v-bind:class="responsiveNavigationItem"><span>showcase</span></router-link>
            <router-link to="/contact" v-bind:class="responsiveNavigationItem"><span>contact</span></router-link>
            <router-link to="/jobs" v-bind:class="responsiveNavigationItem"><span>jobs</span></router-link>
        </div>
        <div v-bind:class="responsiveHelpBlock">
          <div class="help-block__title">Help</div>
          <div v-bind:class="responsiveHelpItem2"><i class="fab fa-skype mr-2"></i>biuro@jamnasoftware.pl</div>
          <div v-bind:class="responsiveHelpItem2">8:00am - 5:00pm</div>
        </div>
        <div>
          <div v-bind:class="responsiveFooterLeft">
            <div v-bind:class="responsiveFooterTitle">
              <div class="mr-4">
                <span v-bind:class='responsiveLeftWhite'><strong>jamna</strong></span> <span v-bind:class='responsiveLeftBlue'><strong>software</strong></span>
              </div>
              <p v-bind:class="responsiveSinceText"><i class="fas fa-rocket mr-2"></i>since 2018</p>
            </div>
            <div v-bind:class="responsiveFooterBodyLeft">
              <div class="mr-5" style="padding-bottom: 3px;">ul. Niepodległości 57/3</div>
              <div class="text-left" style="padding-bottom: 3px;">73-110, Stargard</div>
              <div class="text-left" style="padding-bottom: 3px;">NIP 8542421920</div>
            </div>
          </div>
        </div>

      </div>
    </footer>
  </div>
</template>


<script>
export default {
  name: 'FooterBig',

  props: {
    msg: String
  },

  computed: {

    responsiveFooterTitle: function() {
      let title_class = 'footer__left__title'
      if (this.$mq==='bg') title_class = 'footer__left__title footer__left__title-bg'
      return title_class
    },

    responsiveLeftWhite: function() {
      let white_class = 'footer__left__title--white'
      if (this.$mq==='bg') white_class = 'footer__left__title--white-bg'
      return white_class
    },

    responsiveLeftBlue: function() {
      let blue_class = 'footer__left__title--blue'
      if (this.$mq==='bg') blue_class = 'footer__left__title--blue-bg'
      return blue_class
    },

    responsiveFooterLeft: function() {
      let main_class = 'footer__left'
      if (this.$mq==='bg') main_class = 'footer__left footer__left-bg text-left'
      return main_class
    },

    responsiveNavigationBlock: function() {
      let nav_block = 'd-flex flex-column text-left navigation-block'
      if (this.$mq==='bg') nav_block = 'd-flex flex-column text-left navigation-block-bg'
      return nav_block
    },

    responsiveHelpBlock: function() {
      let block_class = 'd-flex flex-column text-left help-block'
      if (this.$mq==='bg') block_class = 'd-flex flex-column text-left help-block help-block-bg'
      return block_class
    },

    responsiveNavigationItem: function() {
      let item_class = 'navigation-block__item'
      if (this.$mq==='bg') item_class = 'navigation-block__item navigation-block__item-bg'
      return item_class
    },

    responsiveHelpItem1: function() {
      let item_class = 'help-block__item1'
      if (this.$mq==='bg') item_class = 'help-block__item1 help-block__item1-bg'
      return item_class
    },

    responsiveHelpItem2: function() {
      let item_class = 'help-block__item2'
      if (this.$mq==='bg') item_class = 'help-block__item2 help-block__item2-bg'
      return item_class
    },

    responsiveSinceText: function() {
      let since_class = 'text-left footer__left__since-text'
      if (this.$mq==='bg') since_class = 'lext-left footer__left__since-text-bg'
      return since_class
    },

    responsiveFooterLeftContainer: function() {
      let left_class = ''
      if (this.$mq==='lg') {
        left_class = 'footer__left__container'
      }
      if (this.$mq==='bg' || this.$mq==='md') {
        left_class = 'footer__left__container-bg'
      }
      return left_class
    },

    responsiveFooterRightContainer: function() {
      let right_class = ''
      if (this.$mq==='lg') right_class = 'footer__right__container'
      if (this.$mq==='bg') right_class = 'footer__right__container-bg'
      return right_class
    },

    responsiveFooterBodyLeft: function() {
      let footer_class = 'd-flex flex-column align-items-start'
      if (this.$mq==='bg') footer_class = ' footer__left__body-bg'
      return footer_class
    },

  }
}
</script>

<style lang="scss" scoped>
   @import '../../assets/scss/rwd/footer_big.scss'
</style>