$font-bigger-2: 1.3em;
$font-smaller-1: 0.9em;
$buttons-empty-width: 70%;
$buttons-width: 30%;
$buttons-empty-references-width: 70%;
$buttons-references-width: 30%;
$buttons-margin: 5px;
$button-cancel-color: #f23224;
$button-cancel-color--hover: #7f91a1;
$button-send-color: #2bb5e3;
$button-send-color--hover: #40bae3;
$blue-background: #339bbd;
$blue-background-hover: #2bb5e3;
$grey-background: #6c757d;
$second-modal-color: white;
$logo-link__left-color: #2f3e4d;
$logo-link__right-color: #2bb5e3;
$clients-logo-img: 100px;
$title-font-size-xs: 0.6em;
$title-font-size-sm: 0.7em;
$title-font-size-bg: 0.9em;
$body-font-size-xs: 0.8em;
$body-font-size-sm: 0.9em;
$body-font-size-bg: 0.9em;


h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.about-sm {
  position: relative;
  left: 15px;
}
.cancel-text {
  color: #343a40;
}
.send-text {
  color: #343a40;
}
.title-size-bg {
  font-size: $title-font-size-bg;
}
.title-size-xs {
  font-size: $title-font-size-xs;
}
.title-size-sm {
  font-size: $title-font-size-sm;
}
.body-size-xs {
  font-size: $body-font-size-xs;
}
.body-size-sm {
  font-size: $body-font-size-sm;
}
.body-size-bg {
  font-size: $body-font-size-bg;
}
.references__body {
  margin-bottom: 100px;
}
.invalid {
  border: 1px solid red;
}
.email-image {
  height:0.95em;
  margin-left: 7px;
  position: relative;
  top: 1px;
}
.email-image-bg {
  height: 1em;
  margin-left: 7px;
}
.email-image-sm {
  height: 1em;
}
.email-image-md {
  height: 0.95em;
  margin-left: 7px;
  margin-top: 3px;
}
.btn-modal {
  background-color: $blue-background; 
  border: none;
}
.btn-contact-sm {
  margin-top: 15px;
  font-size: 0.8em;
}
.btn-contact-bg {
  font-size: 0.9em
}
#btn-contact, #btn-references {
  background-color: $blue-background; 
  border: none;
  outline: 0 !important;
  box-shadow: none!important;
}
.btn-modal-lg, .btn-modal-bg, .btn-modal-md, .btn-modal-sm, .btn-modal-xs {
  background-color: $blue-background; 
  border: none;
  position: relative;
  left: 5%;
}
.modal-buttons__button--blue:hover {
  background-color: $blue-background-hover;
  border: none;
  outline: none; 
}
.logo {
  font-size: $font-bigger-2;
}
.logo-link__left {
  color: $logo-link__left-color;
}
.clients-logo-img {
  width: $clients-logo-img;
}
.logo-link__right {
  color: $logo-link__right-color;
}
.font-smaller {
  font-size: $font-smaller-1;
}
.modal-buttons__empty {
  width: $buttons-empty-width;
}
.modal-buttons__buttons {
  width: $buttons-width;
}
.modal-buttons__empty-references {
  width: $buttons-empty-references-width;
}
.modal-buttons__buttons-references {
  width: $buttons-references-width;
}
.modal-buttons__button {
  margin: $buttons-margin;
  background-color: transparent;
  border:none;
}
.modal-buttons__button-cancel {
  color: $button-cancel-color; 
}
.modal-buttons__button-cancel:hover {
  color: $button-cancel-color--hover; 
  background-color: transparent;
}
.modal-buttons__button-send {
  color: $button-send-color;
}
.modal-buttons__button-send:hover {
  color: $button-send-color--hover; 
  background-color: transparent;
}
.second-modal-body {
  position: relative; 
  top: -20px;
}
.second_modal__button {
  background-color: $grey-background; 
  color: $second-modal-color;
  margin: $buttons-margin; 
  border:none;
}