$title-color: #32557d;
$clients-main-margin-right: 0%;
$clients-main-margin-left: 13%;
$title-relative-left: -6%;
$title-relative-left-xs: 0%;
$title-relative-left-sm: 0%;
$title-padding-top: 10px;
$title-font-size-xs: 0.6em;
$title-font-size-sm: 0.7em;
$clients-logo-width: 200px;
$clients-logo-margin-bottom: 50px;
$clients-logo-width-xs: 70px;
$clients-logo-margin-bottom-xs: 20px;
$clients-logo-width-sm: 80px;
$clients-logo-margin-bottom-sm: 30px;

img {
  filter: grayscale(100%);
}
.clients-main {
  margin-right: $clients-main-margin-right;
  margin-left: $clients-main-margin-left;
  width: 84%;
}
.title {
    position: relative;
    left: $title-relative-left;
}
.title-xs {
    padding-top: $title-padding-top; 
    position: relative;
    left: $title-relative-left-xs;
	font-size: $title-font-size-xs;
}
.title-sm {
    padding-top: $title-padding-top; 
    position: relative;
    left: $title-relative-left;
	font-size: $title-font-size-sm;
}
.title-bg {
    padding-top: $title-padding-top; 
    position: relative;
    left: 0;
    font-size: 0.8em;
}
 .clients-logo {
    width: $clients-logo-width;
    margin-bottom: $clients-logo-margin-bottom;
 }
 .clients-logo-xs {
 	width: $clients-logo-width-xs;
 	margin-bottom: $clients-logo-margin-bottom-xs;
 }
 .clients-logo-sm {
 	width: $clients-logo-width-sm;
 	margin-bottom: $clients-logo-margin-bottom-sm;
 }

 /*overwriting slick's css file*/

.slick-slide img
{
    display: block;
    margin-top: 30px;
}
.slick-slide #idosell-img {
    width: 280px;
    position: relative;
    right: 50px;
    top: 10px;
}
.slick-slide #idosell-img-xs {
    position: relative;
    top: 5px;
}
.slick-slide #simba-img {
    position: relative;
    bottom: 30px;
}
.slick-slide #simba-img-xs {
    position: relative;
    bottom: 0px;
}
.slick-slide #mennica-img {
    position: relative;
    bottom: 20px;
}
.slick-slide #mennica-img-xs {
    position: relative;
    bottom: 2px;
}
.slick-slide #etrade-img {
    position: relative;
    top: 15px;
}
.slick-slide #zumax-img {
    position: relative;
    top: 25px;
}
.slick-slide #zumax-img-xs {
    position: relative;
    top: 18px;
}
.slick-slide #isotrade-img {
    position: relative;
    top: 10px;
}
.slick-slide #mpit-img {
    position: relative;
    top: 15px;
}
.slick-slide #mpit-img-xs {
    position: relative;
    top: 10px;
}
.slick-slide #asseco-img {
    position: relative;
    top: 10px;
}
