@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

$footer-width: 100%;
$footer-background-color: #20252d;
$footer__left-margin-top: 20%;
$footer-title-font-size: 1.5em;
$footer__left__title-font-sm: 1em;
$footer__left__title-font-xs: 1em;
$footer__left__body-bg: 0.8em;
$footer__left__body-sm: 0.7em;
$footer__left__title-left: #fff;
$footer__left__title-right: #2bb5e3;
$footer__left__title-margin-bottom: 5px; 
$footer__left__body-color: #ccc;
$footer__left__body-font-size: 14px;
$footer__left__body-margin-top: 10px;
$footer__right__title-color: #fff;
$footer__right__title-color-sm: #fff;
$footer__right__title-font-size: 18px;
$footer__right__title-padding-top: 15px;
$footer__right__title-padding-bottom: 0px;
$footer__right__title-font-sm: 0.9em;
$footer__right__title-margin-sm: 35px;
$footer__right__body-sm: 0.8em;
$links-color: #ccc;
$links-hover-color: #fff;
$links-font-size: 14px;
$links-font-size-xs: 0.8em;
$foundation-text-font-size: 0.7em;

footer {
  width: $footer-width;
  background-color: $footer-background-color;
  font-family: 'Rubik', sans-serif;
}
.navigation-block {
  position:relative; 
  left: 10%;
}
.navigation-block__title {
  color:#fff; 
  position:relative; 
  bottom: 6px;
}
.help-block {
  position:relative; 
  left: 2%;
}
.help-block-bg {
  position:relative; 
  left: 5%;
}
.help-block__item1 {
  color: #bcc0c4;
  position: relative; 
  bottom: 12px;
  font-size: 0.9em;
}
.help-block__item1-bg {
  font-size: 0.8em;
}
.help-block__item2 {
  color: #bcc0c4;
  position: relative; 
  bottom: 14px;
  font-size: 0.9em;
}
.help-block__item2-bg {
  font-size: 0.8em;
}
.help-block__title {
  color:#fff; 
  position:relative; 
  bottom: 32px;
}
.navigation-block__item {
  color:#bcc0c4; 
  font-size: 0.9em;
}
.navigation-block__item-bg {
  font-size: 0.8em;
}
.crafted-text {
  color: #ccc;
  font-size: 0.8em;
}
.footer__left__title-sm {
  font-size: $footer__left__title-font-sm;
  position: relative;
  top: -14px;
}
.footer__left__title-xs {
  font-size: $footer__left__title-font-xs;
  position: relative;
  top: -14px;
}
.footer__left__body-sm {
  font-size: $footer__left__body-sm;
  position: relative;
  left: 5px;
  top: -20px;
}
.footer__left__body-bg {
  font-size: $footer__left__body-bg;
  position: relative;
  left: 5px;
  top: -20px;
}
.footer__left__since-text {
  font-size: 0.8em;
}
.footer__left__since-text-bg {
  font-size: 0.6em;
  position: relative;
  right: 25px;
  margin-bottom: 30px;
}
.footer__right__title-sm {
  font-size: $footer__right__title-font-sm;
  margin-top: $footer__right__title-margin-sm;
  color: $footer__right__title-color-sm;
}
.footer__right__body-sm {
  font-size: $footer__right__body-sm;
  position: relative;
  left: 10px;
}
.footer__left__container {
  position: relative;
  right: 120px;
  padding-bottom: 30px;
}
.footer__left__container-bg {
  position: relative;
  right: 20px;
  padding-bottom: 30px;
}
.footer__right__container {
  position: relative;
  left: 120px;
}
.footer__right__container-md {
  margin-top: 50px;
}
.footer__left {
  margin-top: $footer__left-margin-top;
  color: $footer__left__body-color;
  font-size: $footer__left__body-font-size;
}
.footer__left__title {
  margin-bottom: $footer__left__title-margin-bottom;
  font-size: $footer-title-font-size;
}
.footer__left__title--white {
  color: $footer__left__title-left;
}
.footer__left__title--blue {
  color: $footer__left__title-right;
}
.footer__left__body {
  margin-top: $footer__left__body-margin-top;
}
.footer__right__title {
  color: $footer__right__title-color;
  font-size: $footer__right__title-font-size;
  padding-bottom: $footer__right__title-padding-bottom;
  padding-top: $footer__right__title-padding-top;
}
.footer__links {
  color: $links-color;
  font-size: $links-font-size;
}
.footer__links-xs {
  color: $links-color;
  font-size: $links-font-size-xs;

}
a:hover {
  text-decoration: none;
  color: $links-hover-color;
}