$main-container-width: 100%;
$main-containers-margin-left: 13%;
$main-containers-margin-right: 13%;
$wide-containers-width: 100%;
$navbar-margin-right: 57px;
$navbar-margin-left: 13%;
$navbar-container-width: 90%;

.navbar-base {
	height:90px; 
	width:100%; 
	background-color:white;
	position:fixed;
	top:0;
	z-index: 1;
}
.main-container{
	width: $main-container-width;
}
.main-container__container-margins {
	margin-right: $main-containers-margin-right;
	margin-left: $main-containers-margin-left;

}
#navbar {
	width: $navbar-container-width;
	margin-right: $navbar-margin-right;
	margin-left: $navbar-margin-left;
	z-index: 1;
	background-color: white; 
	position:fixed; 
	top:0;
}
.Masthead {
	min-height: 45vh !important;
	max-height: 45vh !important;
}

