$icons__icon-margin-right: 150px;
$icons__icon-margin-right-md: 80px;
$icons__icon-margin-right-sm: 60px;
$icons__icon-margin-right-xs: 20px;
$icons__icon-margin-bottom: 20px;
$icons-container-height: 30vh;
$icons-container-position-left: 9%;
$icons-container-position-left-sm: 0;
$icons-container-margin-top: 70px;
$icon-size: 40px;
$icon-size-sm: 30px;
$icon-size-xs: 30px;
$tooltip-btn-height: 90px;
$tooltip-btn-width: 90px;
$tooltip-btn-height-xs: 50px;
$tooltip-btn-width-xs: 50px;
$tooltip-btn-height-sm: 60px;
$tooltip-btn-width-sm: 60px;
$tooltip-btn-height-md: 70px;
$tooltip-btn-width-md: 70px;
$tooltip-btn-color: #3a4f63;
$title-font-size-xs: 0.6em;
$title-font-size-sm: 0.7em;

.tooltip-btn {
	height: $tooltip-btn-height; 
	width: $tooltip-btn-width; 
	background-color:transparent;
	border:none;
	color: $tooltip-btn-color;
}
.tooltip-btn-xs {
	height: $tooltip-btn-height-xs;
	width: $tooltip-btn-width-xs;
}
.tooltip-btn-sm {
	height: $tooltip-btn-height-sm;
	width: $tooltip-btn-width-sm;
}
.tooltip-btn-md {
	height: $tooltip-btn-height-md;
	width: $tooltip-btn-width-md;
}
.tooltip-btn:hover, .tooltip-btn-xs:focus, .tooltip-btn-sm:hover, .tooltip-btn-md:hover {
	background-color: transparent;
	color: #85929e;
}
.title-size-bg {
	font-size: 0.8em;
}
.title-size-sm {
	font-size: $title-font-size-sm;
}
.title-size-xs {
	font-size: $title-font-size-xs;
}
.main {
  height: $icons-container-height; 
  margin-top: $icons-container-margin-top;
}
.bg {
	margin-bottom: 20px;
}
.md {
	margin-bottom: 20px;
}
.sm {
	margin-bottom: 5px;
}
.xs {
	margin-bottom: 10px;
}
.title {
	position: relative;
	left: 0%;
}
.icon-container-md {
	font-size: $icon-size;
	margin-right: $icons__icon-margin-right-md;
}
.icon-container-sm {
	font-size: $icon-size-sm;
	margin-right: $icons__icon-margin-right-sm;
}
.icon-container-xs {
	font-size: $icon-size-xs;
	margin-right: $icons__icon-margin-right-xs;
}
.icons-container {
  flex-wrap: wrap;
  width: 84%;
  position: relative;
  left: $icons-container-position-left;
}
.icons-container-sm {
  flex-wrap: wrap;
  position: relative;
  left: $icons-container-position-left-sm;
}
.icons-container__icon {
  font-size: $icon-size;
  margin-right: $icons__icon-margin-right;
  margin-bottom: $icons__icon-margin-bottom;
}