$navbar-margin-right: 0;
$navbar-margin-left: 0;
$navbar-container-width: 90%;
$logo-position-bottom: 30px;
$main-container-width: 84%;
$main-container-margin-left: 13%;
$main-container-margin-right: 13%;
$body__text-width: 84%;
$footer-width: 100%;
$footer-position-bottom: 0;
$title-font-size-desktop: 1.3em;
$title-font-size-xs: 0.9em;
$title-font-size-sm: 0.9em;
$buy-btn-font-size-desktop: 1.3em;
$buy-btn-font-size-xs: 1.1em;
$buy-btn-width: 300px;
$buy-btn-height: 60px;
$buy-btn-height-xs: 45px;
$buy-btn-background: #17a2b8;
$buy-btn-background-hover: #1bb7cf;
$cards-container-width: 100%;
$cards-container-width-xs: 100%;
$idosell-email-font-size-xs: 0.9em;
$idosell-email-font-size-sm: 1em;
$card-width: 20%;
$card-height: 300px;
$card-width-xs: 300px;

#navbar {
	width: $navbar-container-width;
	margin-right: $navbar-margin-right;
	margin-left: $navbar-margin-left;
	z-index: 1;
	background-color: white; 
	position:fixed; 
	top:0;
}
.navbar-base {
	height:90px; 
	width:100%; 
	background-color:white;
	position:fixed;
	top:0;
	z-index: 1;
}
#body, #logo {
	width: $main-container-width;
	margin-left: $main-container-margin-left;
	margin-right: $main-container-margin-right;
}
.title {
	font-size: $title-font-size-desktop;
}
.title-xs {
	font-size: $title-font-size-xs;
}
.title-sm {
	position: relative;
	right: -10%;
	font-size: $title-font-size-sm;
}
.title-bg {
	position: relative;
	right: -1%;
	font-size: 1.2em;
}

.idosell-list {
	list-style-type:none;
	position: relative;
	right: 39px;
}
.idosell-href {
	color: #17a2b8;
}
.idosell-list-sm {
	font-size: 0.8em;
}
.idosell-list-title {
	font-size: 1em;
}
.email-img {
	height: 0.9em;
}
.email-img-a {
	background-color:#17a2b8; 
	padding: 7px; 
	border-radius: 2px;
}
.buy-shop-btn {
	font-size: $buy-btn-font-size-desktop;
	width: $buy-btn-width;
	height: $buy-btn-height;
	background-color: $buy-btn-background;
	border: none;
}
.buy-shop-btn-xs {
	font-size: $buy-btn-font-size-xs;
	height: $buy-btn-height-xs;
}
.buy-shop-btn-bg {
	font-size: 0.9em;
	height: 40px;
}
.buy-shop-btn:hover {
	background-color: $buy-btn-background-hover;
}
.buy-btn-label {
	position: relative;
	left: 4%;
}
.label-bg {
	font-size: 0.9em;
}
.cards-container {
	width: $cards-container-width;
	display: flex;
	flex-wrap: wrap;
	position:relative; 
	left: 12%;
}
.cards-container-xs {
	width: $cards-container-width-xs;
	display: flex;
	flex-wrap: wrap;
}
.cards-container-bg {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	left: 7%;
}
.idosell-email {
	position: relative;
	left: 10%;
}
.idosell-email-sm {
	font-size: $idosell-email-font-size-sm;
	position: relative;
	left: 5%;
}
.idosell-card {
	border-radius: 5px; 
	padding: 25px 15px 0 15px; 
	width: $card-width;
	height: $card-height;
	transition:all 0.4s ease;
}
.idosell-card-md {
	border-radius: 5px; 
	padding: 25px 15px 0 15px; 
	width: 80%;
	height: $card-height;
	transition:all 0.4s ease;
}
.idosell-card-bg {
	border-radius: 5px; 
	padding: 25px 15px 0 15px; 
	width: 25%;
	height: 200px;
	transition:all 0.4s ease;
}
.idosell-card-xs {
	border-radius: 5px; 
	padding: 25px 15px 0 15px; 
	width: $card-width-xs;
	transition:all 0.4s ease;
}
.idosell-card:hover {
	-webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
}
.body__text {
	width: $body__text-width;
	min-height: 70vh;
	position: relative;
	top: 100px;
	margin-bottom: 150px;
}
.undraw-1 {
	position: relative;
	top: 10px;
}
.undraw-1-bg {
	position: relative;
	top: 20px;
}
.undraw-2 {
	position: relative;
	top: 50px;
}
.undraw-2-bg {
	position: relative;
	top: 20px;
}
.undraw-3 {
	position: relative;
	top: 20px;
	right:10px;
}
.undraw-3-bg {
	position: relative;
	top: 20px;
}
.undraw-4 {
	position: relative;
	top: 20px;
}
.undraw-4-bg {
	position: relative;
	top: 20px;
}
.undraw-5 {
	position: relative;
	top: 20px;
}
.undraw-5-bg {
	position: relative;
	top: 20px;
}
.undraw-6 {
	position: relative;
	top: 20px;
}
.undraw-6-bg {
	position: relative;
	top: 20px;
}
.img-container {
	width: 90%; 
	height: 220px; 
	margin:auto;
}
.img-container-bg {
	width: 90%;
	height: 150px;
	margin: auto;
}
#footer {
	width: $footer-width;
}