$logo-container-margin-right: 10%; 
$logo-link-background-color: white;
$logo-link-margin-bottom: 30px;
$logo-link__left-color: #2f3e4d;
$logo-link__right-color: #2bb5e3;
$logo-font-size: 2.3em;
$logo-font-size-xs: 1.6em;
$logo-font-size-sm: 1.8em;
$logo-font-size-md: 1.9em;

.logo-img-container {
  background-color:white; 
  height: 65px;
}
.logo-jamna-xs {
  background-color: $logo-link-background-color; 
  border: none;
  margin-bottom: $logo-link-margin-bottom;
  font-size: $logo-font-size-xs;
}
.logo-jamna-sm {
  background-color: $logo-link-background-color; 
  border: none;
  margin-bottom: $logo-link-margin-bottom;
  font-size: $logo-font-size-sm;
}
.logo-jamna-md {
  background-color: $logo-link-background-color; 
  border: none;
  margin-bottom: $logo-link-margin-bottom;
  font-size: $logo-font-size-md;
}
.logo-container {
  margin-right: $logo-container-margin-right;
}
.logo-img {
  width: 280px;
}
.logo-img-sm {
  width: 220px;
}
.logo-img-md {
  width: 240px;
}
.logo-link {
  background-color: $logo-link-background-color; 
  border: none;
  font-size: $logo-font-size;
  margin-bottom: $logo-link-margin-bottom;
}
.logo-link__left {
  color: $logo-link__left-color;
}
.logo-link__right {
  color: $logo-link__right-color;
}