@import 'https://fonts.googleapis.com/css?family=Roboto&display=swap';

$font-color: #3a4f63;

#app {
  font-family: Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $font-color;
}

#nav {
  padding: 10px;
}

#nav a {
  font-weight: bold;
  color: $font-color;
}

#nav a.router-link-exact-active {
  color: #42b983;
}