$navbar-container-height: 90px;
$tab-idosell-title-color: #2f3e4d;
$tab-icon-color: #2bb5e3;
$tab-link-color-hover: #6b6b6b;
$nav-shops__link-color: #2bb5e3;
$hamburger-menu-color: #424242;
$nav-shops__link-font-size: 1em;
$logo-width: 30%;
$hamburger-menu-width: 20%;

.navbar-container {
	height: $navbar-container-height;
}

#idosell-title {
	color: $tab-idosell-title-color;
}
.blue-icon {
	color: $tab-icon-color;
}
.nav-shops {
	display: flex;
	align-items: center;
}
.nav-shops-md {
	position: relative;
	top: 15px;

}
.desktop {
	position: relative;
	bottom: 25px;
}
.desktop-bg {
	position: relative;
	bottom: 30px;
}
.desktop-lg {
	position: relative;
	bottom: 30px;
}
#navbar-container {
	width: 100%;
	position: relative;
	right: 5px;
}
#navbar-container-bg {
	position: relative;
	left: 30px;
}
#idosell {
	position: relative;
	bottom: 30px;
}
.nav-shops__link {
	color: $nav-shops__link-color;
	font-size: $nav-shops__link-font-size;
	margin-right: 20px;
}
.nav-shops__link-bg {
	font-size: 0.8em;
}
.nav-shops__link:hover {
	color: $tab-link-color-hover;
	text-decoration: none;
}
.hamburger-class {
	color: $hamburger-menu-color;
}
#logo {
	width: $logo-width;
	position: relative;
	top:30px;
}
#logo-mobile {
	width: $logo-width;
	position: relative;
	top:30px;
	right: 20px;
}
.hamburger-container__idosell {
	width: $hamburger-menu-width;
	position: relative;
	right: 70px;
	bottom: 15px;
}
.desktop-container {
	width: 70%;
	position: relative;
	top: 35px;
}
