$particles-container-height: 25vh;
$particles-container-height-xs: 15vh;
$particles-container-height-md: 30vh;

.particles-class {
  height: $particles-container-height; 
  margin-right:13%; 
  margin-left:13%;
  margin-top:10%;
}
.particles-class-xs {
  height: $particles-container-height-xs;
  margin-right:13%; 
  margin-left:13%;
  margin-top:30%;
}
.particles-class-md {
  height: $particles-container-height-md;
  margin-right:13%; 
  margin-left:13%;
  margin-top:15%;
}

