

#texts {
	width: 84%;
	height: 300px;
	margin: auto;
}
.amxx {
  color: #31c7de;
}
.texts-container {
	width: 100%;
	height: 70px;
	font-size: 1em;
}
.texts-container__item {
	font-size: 1em;
	color: #0c5460;
	width: 84%;
	padding: 20px;
}
.box {
  width: 500px;
  margin: 50px auto;
  background: #339bbd;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-family: arial;
  position:relative;
  left: 1%;
}
.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #339bbd;
  border-right: 10px solid transparent;
  border-top: 10px solid #339bbd;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}