<template>
  <div id="jobs">
     <div class="navbar-base"></div>
    <div id="body">
      <div id="navbar">
        <Navbar />
      </div>
      
      <div class="body__text">
        <div v-bind:class="responsiveFlexPosition">
          <div v-bind:class="responsiveText">
            <form action="https://formspree.io/biuro@jamnasoftware.pl" method="POST">
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" name="_replyto" class="form-control" id="emailInput" placeholder="name@example.com" required>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Your message</label>
                <textarea name="name" class="form-control" id="messageInput" rows="3" required></textarea>
              </div>
              <div class="form-group">
                <div class="text-right">
                  <b-button type="submit" v-bind:class="responsiveSendBtn"><i class="fas fa-paper-plane mr-2"></i>Send</b-button>
                </div>
              </div>
            </form>
          </div>

          <div v-if="$mq==='md'" class="undraw-md">
            <UndrawContactUs primary-color='#2bb5e3' height='200px'/>
          </div>
          <div v-if="$mq==='bg'" class="undraw-bg">
            <UndrawContactUs primary-color='#2bb5e3' height='180px'/>
          </div>
          <div v-if="$mq==='lg'" style="width:50%;" class="undraw-lg">
            <UndrawContactUs primary-color='#2bb5e3' height='220px' style="position:relative; right: 50px;"/>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <Footer />
    </div>
  </div>
</template>



<script>
import Navbar from '../Navbar'
import Footer from '../Footer'
import UndrawContactUs from 'vue-undraw/UndrawContactUs'; 

export default {
  name: 'Showcase',

  components: {
    Navbar,
    Footer,
    UndrawContactUs
  },

  computed: {

    responsiveEmptySend: function() {
      let empty_class = 'empty-send'
      if (this.$mq==='sm' || this.$mq==='xs' || this.$mq==='md') empty_class = 'empty-send-sm'
      return empty_class
    },

    responsiveSendBtn: function() {
      let send_class = 'send-btn'
      if (this.$mq==='sm' || this.$mq==='xs' || this.$mq==='md') send_class = 'send-btn send-btn-sm'
      return send_class
    },

    responsiveTitle: function() {
      let title_class = ''
      if (this.$mq==='bg') title_class = 'title-bg'
      if (this.$mq==='md') title_class = 'title-md'
      if (this.$mq==='sm' || this.$mq==='xs') title_class = 'title-sm'
      return title_class
    },

    responsiveEmailImg: function() {
      let email_class = 'email-img'
      return email_class
    },


    responsiveText: function () {
      let text_class = 'text-left mt-5 text-desktop'
      if (this.$mq==='xs' || this.$mq==='sm') text_class = 'text-center mt-1 mb-5 text-xs'
      if (this.$mq==='md') text_class = 'text-center mt-1 mb-5 text-md'
        
      return text_class
    },

    responsiveFlexPosition: function() {
      let flex_class = "row"
      if (this.$mq==='xs' || this.$mq==='sm') flex_class = 'flex-column'
      if (this.$mq==='md') flex_class = 'flex-column flex-md'
      return flex_class
    }
  },

  props: {
    msg: String
  },

  
}
</script>

<style lang="scss" scoped>
   @import '../../assets/scss/tabs/contact.scss'
</style>