<template>
  <div id="jobs">
     <div class="navbar-base"></div>
    <div id="body">
      <div id="navbar">
        <Navbar />
      </div>
      
      <div class="body__text">
        <div v-bind:class="responsiveFlexPosition">
          <div v-bind:class="responsiveText">
            <h3 v-bind:class="responsiveEtradeTitle">ETRADE Solutions Sp. z o.o.</h3>

            <p class="mt-3">A company from the jamna software capital group, which specializes in importing goods from China and innovative ecommerce sales channels.</p>
            <h5>More information coming soon.</h5>
          </div>

          <div v-if="$mq==='xs' || $mq==='sm'" class="undraw-xs">
            <UndrawInvesting primary-color='#2bb5e3' height='100px'/>
          </div>
          <div v-if="$mq==='md'" class="undraw-md">
            <UndrawInvesting primary-color='#2bb5e3' height='150px'/>
          </div>
          <div v-if="$mq==='bg'" class="undraw-bg">
            <UndrawInvesting primary-color='#2bb5e3' height='200px'/>
          </div>
          <div v-if="$mq==='lg'" style="width:50%;">
            <UndrawInvesting primary-color='#2bb5e3' height='300px' style="position: relative; right: 50px;"/>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <Footer />
    </div>
  </div>
</template>



<script>
import Navbar from '../Navbar'
import Footer from '../Footer'
import UndrawInvesting from 'vue-undraw/UndrawInvesting'; 

export default {
  name: 'CorporateGroup',

  components: {
    Navbar,
    Footer,
    UndrawInvesting
  },

  computed: {

    responsiveEtradeTitle: function() {
      let title_class = ''
      if (this.$mq==='sm' || this.$mq==='xs') title_class = 'title-xs'
      if (this.$mq==='md') title_class = 'title-md'
      if (this.$mq==='bg') title_class = 'title-bg'
      return title_class
    },

    responsiveEmailImg: function() {
      let email_class = 'email-img'
      return email_class
    },


    responsiveText: function () {
      let text_class = 'text-left mt-5 text-desktop'
      if (this.$mq==='xs' || this.$mq==='sm') text_class = 'text-left mt-1 mb-5 text-xs'
      if (this.$mq==='md') text_class = 'text-left mt-1 mb-5 text-md'

      return text_class
    },

    responsiveFlexPosition: function() {
      let flex_class = "row"
      if (this.$mq==='xs' || this.$mq==='sm' || this.$mq==='md') flex_class = 'flex-column'
      return flex_class
    }
  },

  props: {
    msg: String
  },

  
}
</script>

<style lang="scss" scoped>
   @import '../../assets/scss/tabs/corporate_group.scss'
</style>