<template>
  <div id="jobs">
     <div class="navbar-base"></div>
    <div id="body">
      <div id="navbar">
        <Navbar />
      </div>
      
      <div class="body__text">
        <div v-bind:class="responsiveFlexPosition">
          <div v-bind:class="responsiveText">
            <p>We encourage you to apply for the position of full-stack developer (python3, vuejs).
            Send your CV and cover letter:</p>
            <a class="email-img-a" href="mailto:biuro@jamnasoftware.pl"><img src="../../assets/static/img/new-email.png" v-bind:class="responsiveEmailImg"></a>
          </div>

          <div v-if="$mq==='xs' || $mq==='sm'" class="pt-4 undraw-xs">
            <UndrawFolder primary-color='#2bb5e3' height='170px'/>
          </div>
          <div v-if="$mq==='md'" class="undraw-md">
            <UndrawFolder primary-color='#2bb5e3' height='200px'/>
          </div>
          <div v-if="$mq==='bg' || $mq==='lg'" style="width:50%;">
            <UndrawFolder primary-color='#2bb5e3' height='250px'/>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <Footer />
    </div>
  </div>
</template>



<script>
import Navbar from '../Navbar'
import Footer from '../Footer'
import UndrawFolder from 'vue-undraw/UndrawFolder';

export default {
  name: 'Showcase',

  components: {
    Navbar,
    Footer,
    UndrawFolder
  },

  computed: {

    responsiveEmailImg: function() {
      let email_class = 'email-img'
      return email_class
    },


    responsiveText: function () {
      let text_class = 'text-left mt-5 text-desktop'
      if (this.$mq==='xs' || this.$mq==='sm') text_class = 'text-left mt-1 mb-5 text-xs'
      if (this.$mq==='md') text_class = 'text-left mt-1 mb-5 text-md'

      return text_class
    },

    responsiveFlexPosition: function() {
      let flex_class = "row"
      if (this.$mq==='xs' || this.$mq==='sm') flex_class = 'flex-column'
      if (this.$mq==='md') flex_class = 'flex-column flex-md'
      return flex_class
    }
  },

  props: {
    msg: String
  },

  
}
</script>

<style lang="scss" scoped>
   @import '../../assets/scss/tabs/jobs.scss'
</style>