<template>
  <div id="services">
    <div class="navbar-base"></div>
    <div id="body">
      <div id="navbar">
        <Navbar />
      </div>
      <div style="height: 100px;"></div>
      <div v-bind:class="responsiveBody">
        <div v-bind:class="responsiveFirstContainer">
          <div v-bind:class="responsiveRow">
            <h3 v-bind:class="responsiveTitle">Dedicated solutions</h3>
            <p class="text-left">
            Designing scalable IT systems is a pillar of our business.<br>

            We start the process of creating a personalized solution with an analysis of our client's needs.

            Then, we start working on the project which lasts from several days to many months (depending on the size of the order).

            For each completed project, it is possible to sign a maintenance contract, which also includes the care of the server architecture</p>
          </div>
          <div v-if="$mq==='md'" style="width: 40%;">
            <UndrawMetrics class="mb-5 ml-4" primary-color='#2bb5e3' height='200px'/>
          </div>
          <div v-else-if="!($mq==='xs' || $mq==='sm')" style="width: 50%;">
            <UndrawMetrics class="mb-5" primary-color='#2bb5e3' height='250px'/>
          </div>
        </div>
        <div v-bind:class="responsiveSecondContainer">
          <div v-if="$mq==='md'" style="width:50%;">
            <UndrawStartupLife class="mb-5 mr-4" primary-color='#2bb5e3' height='200px' />
          </div>
          <div v-else-if="!($mq==='xs' || $mq==='sm')" style="width:50%;">
            <UndrawStartupLife class="mb-5" primary-color='#2bb5e3' height='250px' />
          </div>
          <div v-bind:class="responsiveRow">
            <h3 v-bind:class="responsiveTitle">Technical support</h3>
            <p class="text-left">We support enterprises and startups in maintaining their products, services and IT ecosystems.</p>
          </div>
        </div>
        <div v-bind:class="responsiveThirdContainer">
          <div v-bind:class="responsiveRow">
            <h3 v-bind:class="responsiveTitle">Consulting</h3>
            <p class="text-left">The competences acquired over 14 years allow us to provide consulting services in the field of automation, software architecture, code quality and IT project management.</p>
          </div>
          <div v-if="$mq==='md'" style="width:50%;">
            <UndrawTeamSpirit class="mb-5 ml-4" primary-color='#2bb5e3' height='200px'/>
          </div>
          <div v-else-if="!($mq==='xs' || $mq==='sm')" style="width:50%;">
            <UndrawTeamSpirit class="mb-5" primary-color='#2bb5e3' height='250px'/>
          </div>
          <div v-else-if="($mq==='xs' || $mq==='sm')" style="width:50%;">
            <UndrawTeamSpirit class="mb-5" primary-color='#2bb5e3' height='200px'/>
          </div>

        </div>
      </div>
    </div>
    <div id="footer">
      <Footer />
    </div>
  </div>
</template>



<script>
import Navbar from '../Navbar'
import Footer from '../Footer'
import UndrawMetrics from 'vue-undraw/UndrawMetrics';
import UndrawStartupLife from 'vue-undraw/UndrawStartupLife';
import UndrawTeamSpirit from 'vue-undraw/UndrawTeamSpirit';

export default {
  name: 'Services',

  components: {
    Navbar,
    Footer,
    UndrawMetrics,
    UndrawStartupLife,
    UndrawTeamSpirit
  },

  created () { 
    window.scrollTo(0, 0) 
  },

  computed: {

    responsiveBody: function() {
      let body_class = 'pb-3 body__content flex-column'
      if (this.$mq==='xs' || this.$mq==='sm') body_class = 'body__content body__content-xs flex-column'
      if (this.$mq==='md') body_class = 'body__content body__content-md flex-column'
      if (this.$mq==='bg') body_class = 'body__content body__content-bg flex-column'
      return body_class
    },

    responsiveTitle: function() {
      let first_class = 'mb-5 text-left'
      if (this.$mq==='xs' || this.$mq==='sm') first_class = 'mb-4 text-left first-title-xs'
      if (this.$mq==='bg') first_class = 'mb-4 text-left first-title-bg'
      return first_class
    },

    responsiveRow: function() {
      let row_class = 'responsive-row-desktop'
      if (this.$mq==='xs' || this.$mq==='sm') row_class = 'responsive-row-desktop-xs'
      return row_class
    },

    responsiveFirstContainer: function() {
      let first_class = 'row mb-5 align-items-center'
      if (this.$mq==='xs' || this.$mq=='sm') first_class = 'flex-column justify-content-center'
      return first_class
    },

    responsiveSecondContainer: function() {
      let second_class = 'row mb-5 align-items-center'
      if (this.$mq==='xs' || this.$mq=='sm') second_class = 'flex-column justify-content-center'
      return second_class
    },

    responsiveThirdContainer: function() {
      let third_class = 'row mb-5 align-items-center'
      if (this.$mq==='xs' || this.$mq=='sm') third_class = 'flex-column justify-content-center'
      if (this.$mq==='md') third_class = 'row mb-5 align-items-center third-column-md'
      return third_class
    }
  },

  props: {
    msg: String
  },

  
}
</script>

<style lang="scss" scoped>
   @import '../../assets/scss/tabs/services.scss'
</style>