<template>
  <div id="idosell">
    <div class="navbar-base"></div>
    <div v-bind:id="responsiveBodyId">
      <div id="navbar">
        <Navbar />
      </div>
      <div style="height: 100px;"></div>
        <div v-bind:class="responsiveFlexPosition">
         <div v-bind:class="responsiveMainContainer">
           <h3 v-bind:class="responsiveTitleProgress">In progress</h3>
           <ul class="text-left">
            <li class="mb-3">SIMBA ERP</li>
            <p style="color: #42afd4">python3 modern syntax, django, postgresql, linux, wxwidgets, windows, ocr, ansible, pure js, ngnix, gunicorn, Amazon S3, flask, open api 3.0, piplines, docker, tests, git, kubernetes, boostrap4, celery, deep learning, kong microservices api gateway
            </p>
            <li class="mb-3">FFFRREE GLOBAL MARKETPLACE</li>
            <p style="color: #42afd4">python3 modern syntax, django, postgresql, linux, windows, ansible, pure js, ngnix, gunicorn, Amazon S3, flask, open api 3.0, piplines, docker, tests, git, kubernetes, boostrap4, celery, machine learning, kong microservices api gateway</p>
            <li class="mb-3">ZUMAX.co</li>
            <p style="color: #42afd4">python3 modern syntax, postgresql, linux, windows, ansible, ngnix, gunicorn, flask, open api 3.0, piplines, docker, tests, git, kubernetes, boostrap4, deep learning, kong microservices api gateway, vuejs, cdn, scrapy, selenium</p>
           </ul>
         </div>
         <div v-if="$mq==='xs' || $mq==='sm'" class="undraw-xs">
          <UndrawCompleted primary-color='#2bb5e3' height='200px'/>
         </div>
         <div v-else style="width:50%;">
          <UndrawCompleted primary-color='#2bb5e3' height='250px'/>
         </div>
        </div>
        <div v-bind:class="responsiveMainCompleted">
        <h3 v-bind:class="responsiveTitleCompleted">Completed</h3>
        <ul class="text-left">
          <li>External Services IAI S.A. partner program</li>
          <li>Dedicated data intergrators</li>
          <li>Dedicated genetic testing database</li>
          <li>Programming support for glamin.se</li>
          <li>Programming support for pAudio (acoustics and safety)</li>
          <li>Consulting for Ministerstwie Przedsiębiorczości i Technologii</li>
          <li>Dedicated applications that automate e-commerce processes</li>
          <li>Programming support for tanierodo</li>
          <li>Programming support for asseco data poland (main KRUS system)</li>
          <li>Programming support for 2late4sleep LTD</li>
          <li>Data integrator between subiekt gt and idosell shop (accounting and sales documents data)</li>
          <li>Data integrator between the printer and the idosell shop panel</li>
          <li>Data integrator between the individual application and the idosell shop panel</li>
          <li>Data integrator between the manufacturer's b2b platform and the idosell shop panel</li>
          
        </ul>
      </div>
    </div>
    <div id="footer">
      <Footer />
    </div>
  </div>
</template>



<script>
import Navbar from '../Navbar'
import Footer from '../Footer'
import UndrawCompleted from 'vue-undraw/UndrawCompleted';

export default {
  name: 'Showcase',

  components: {
    Navbar,
    Footer,
    UndrawCompleted
  },

  computed: {

    responsiveBodyId: function() {
      let body_id = 'body'
      if (this.$mq==='md') body_id = 'body-md'
      return body_id
    },

    responsiveMainTechnologies: function() {
      let tech_class = 'tech-container'
      if (this.$mq==='xs' || this.$mq==='sm') tech_class = 'tech-container tech-container-xs'
      return tech_class
    },

    responsiveMainCompleted: function() {
      let main_class = 'pb-5 completed-block'
      if (this.$mq==='xs' || this.$mq==='sm') main_class = 'main-container-completed-xs'
      return main_class
    },

    responsiveTitleCompleted: function() {
      let title_class = 'mb-5 mt-5 text-left'
      if (this.$mq==='xs' || this.$mq==='sm') title_class = 'mb-3 mt-5 text-left title-completed-xs'
      return title_class
    },

    responsiveTitleProgress: function() {
      let title_class = 'mb-5 text-left'
      if (this.$mq==='xs' || this.$mq==='sm') title_class = 'mb-3 text-left title-xs'
      if (this.$mq==='bg') title_class = 'mb-4 text-left title-bg'
      return title_class
    },

    responsiveMainContainer: function() {
      let main_class = ' main-container'
      if (this.$mq==='xs' || this.$mq==='sm') main_class = 'main-container-xs'
      return main_class
    },

    responsiveFlexPosition: function() {
      let flex_class = 'row align-items-center'
      if (this.$mq==='xs' || this.$mq === 'sm') flex_class = 'flex-column'
      return flex_class
    }
  },

  props: {
    msg: String
  },

  
}
</script>

<style lang="scss" scoped>
   @import '../../assets/scss/tabs/showcase.scss'
</style>