$jobs-min-height: 70vh;
$jobs-width: 100%;
$body__text-top: 120px;
$body__text-left: 1%;
$one-box-width-desktop: 40%;
$text-font-size-xs: 0.8em;
$text-width-xs: 90%;
$navbar-margin-right: 0;
$navbar-margin-left: 0;
$navbar-container-width: 90%;
$main-container-width: 84%;
$main-container-margin-left: 13%;
$main-container-margin-right: 13%;
$body__text-width: 100%;
$footer-width: 100%;

#navbar {
	width: $navbar-container-width;
	margin-right: $navbar-margin-right;
	margin-left: $navbar-margin-left;
	z-index: 1;
	background-color: white; 
	position:fixed; 
	top:0;
}
.navbar-base {
	height:90px; 
	width:100%; 
	background-color:white;
	position:fixed;
	top:0;
	z-index: 1;
}
#jobs {
	min-height: $jobs-min-height;
	width: $jobs-width;
}
#body{
	width: $main-container-width;
	margin-left: $main-container-margin-left;
	margin-right: $main-container-margin-right;
	min-height: 69.7vh;
}
.body__text {
	width: $body__text-width;
	position: relative;
	top: $body__text-top;
	left: $body__text-left;
}
.email-img {
	height: 0.9em;
}
.email-img-a {
	background-color:#17a2b8; 
	padding: 7px; 
	border-radius: 2px;
	
}
.text-desktop {
	width: $one-box-width-desktop;
}
.text-xs {
	font-size: $text-font-size-xs;
	width: $text-width-xs;
	position: relative;
	right: 3%;
}
.text-md {
	font-size: $text-font-size-xs;
	width: 90%;
	position: relative;
	right: 3%;
}
.undraw-xs {
	position: relative;
	right: 10%;
	top: 20%;
}
.undraw-md {
	position: relative;
	bottom: 15px;
	right: 10%;
	padding-bottom: 25%;
}
.undraw-bg {
	position: relative;
	left: 8%;
	top: 20%;
}
.undraw-lg {
	position: relative;
	left: 8%;
	top: 15%;
}
.title-md {
	font-size: 1.2em;
}
.title-bg {
	font-size: 1.2em;
}
.title-sm {
	font-size: 1.1em;
}
.flex-md {
	min-height: 90vh;
}

.send-btn {
	width: 120px;
	height: 35px;
	font-size: 0.85em;
	background-color: #27aad6;
	border: none;
}
.send-btn-sm {
	width: 120px;
}
.send-btn:hover {
	background-color: #2bb5e3;
}
footer {
	width: $footer-width;
	
}