$one-box-width-desktop: 50%;
$one-box-width-xs: 100%;
$one-box-font-size-xs: 0.8em;
$title-font-size-xs: 1.2em;
$navbar-margin-right: 0;
$navbar-margin-left: 0;
$navbar-container-width: 90%;
$main-container-width: 84%;
$main-container-margin-left: 13%;
$main-container-margin-right: 13%;
$body__text-width: 84%;
$footer-width: 100%;

.responsive-row-desktop {
	width: $one-box-width-desktop;
}
.responsive-row-desktop-xs {
	width: $one-box-width-xs;
	font-size: $one-box-font-size-xs;
}
.first-title-xs {
	font-size: $title-font-size-xs;
}
.first-title-bg {
	font-size: 1.3em;
}
#navbar {
	width: $navbar-container-width;
	margin-right: $navbar-margin-right;
	margin-left: $navbar-margin-left;
	z-index: 1;
	background-color: white; 
	position:fixed; 
	top:0;
}
.navbar-base {
	height:90px; 
	width:100%; 
	background-color:white;
	position:fixed;
	top:0;
	z-index: 1;
}
#body, {
	width: $main-container-width;
	margin-left: $main-container-margin-left;
	margin-right: $main-container-margin-right;
}
.body__content {
	width: $body__text-width;
	position: relative;
	left: 1%;
}

.third-column-md {
	padding-bottom: 200px;
}
#footer {
	width: $footer-width;
}