$one-box-width-desktop: 50%;
$one-box-width-xs: 120%;
$text-font-size-xs: 0.8em;
$title-font-size-xs: 1.3em; 
$body__text-min-height-desktop: 150vh;
$body__text-min-height-xs: 250vh;
$undraw-margin-top-xs: 50px;
$tech-container-width-desktop: 50%;
$tech-container-width-xs: 100%;
$navbar-margin-right: 0;
$navbar-margin-left: 0;
$navbar-container-width: 90%;
$main-container-width: 84%;
$main-container-margin-left: 13%;
$main-container-margin-right: 13%;
$body__text-width: 84%;
$footer-width: 100%;


.showcase-height {
	background-color: red;

}
#navbar {
	width: $navbar-container-width;
	margin-right: $navbar-margin-right;
	margin-left: $navbar-margin-left;
	z-index: 1;
	background-color: white; 
	position:fixed; 
	top:0;
}
.navbar-base {
	height:90px; 
	width:100%; 
	background-color:white;
	position:fixed;
	top:0;
	z-index: 1;
}
#body{
	width: $main-container-width;
	margin-left: $main-container-margin-left;
	margin-right: $main-container-margin-right;

}
#body-md{
	width: $main-container-width;
	margin-left: $main-container-margin-left;
	margin-right: $main-container-margin-right;
	padding-bottom: 250px;
}
.main-container {
	width: $one-box-width-desktop;
}
.main-container-xs, .main-container-completed-xs {
	width: $one-box-width-xs;
	position: relative;
	bottom: 60px;
	right: 10%;
	font-size: $text-font-size-xs;
}
.completed-block {
	position: relative;
	top: 50px;
}
.title-bg {
	font-size: 1.3em;
}
.title-xs, .title-completed-xs {
	font-size: $title-font-size-xs;
	position: relative;
	left: 9%;
}
.undraw-xs {
	margin-top: $undraw-margin-top-xs;
	margin-top: 10px;
	position: relative;
	right: 7%;
	bottom: 10px;
}
.tech-container {
	color: #42afd4; 
	width: $tech-container-width-desktop;
}
.tech-container-xs {
	width: $tech-container-width-xs;
}
#footer {
	width: $footer-width;
}