				
<template>
<div class="main-container">
	<div class="navbar-base"></div>
	<div id="navbar">
      <Navbar />
    </div>
  <div class="parallax-part">
    <div class="main-container__container-margins">
    <div v-if="$mq==='lg' || $mq==='bg' || $mq==='md' || $mq==='sm'">
      <parallax fixed="true">
        <div id="logo-particles">
          <div id="particles">
            <Particles />
          </div>
        </div>
			</parallax>
	</div>
	<div v-else>
		<div id="logo-particles">
        <div id="particles">
          <Particles />
        </div>
      </div>
	</div>
	<div id="about">
        <About />
	</div>
  </div>
  <div id="icons">
    <Icons />
  </div>
  <div id="texts" class="mt-5 mb-5">
	<Texts />
  </div>
  <div id="clients">
    <Clients />
  </div>
</div>
  <div id="footer">
    <Footer />
  </div>
</div>
</template>


<script>
import About from '@/components/About'
import Icons from '@/components/Icons'
import Particles from '@/components/Particles'
import Navbar from '@/components/Navbar'
import Parallax from 'vue-parallaxy'
import Footer from '@/components/Footer'
import Clients from '@/components/Clients'
import Texts from '@/components/Texts'

export default {
	name: 'Home',

	components: {
		About,
		Particles,
		Icons,
		Navbar,
		Parallax,
		Footer,
		Clients,
		Texts
	},

	created () { 
		window.scrollTo(0, 0) 
	},

	data: function() {
		return {
			mobile: false,
			show: true
		}
	},

	mounted() {
		this.scrollDetector()
	},

	computed: {

		responsiveMainContainer: function() {
			let main_class = 'main-container'
			return main_class
		}
	},

	methods: {
		
		goHome: function() {
			this.$router.go('/')
		},

		scrollDetector: function() {
			let value450 = 450
			let value520 = 520
			let value650 = 650

			if (this.$mq === 'bg') {
				value450 = 600;
				value520 = 750;
				value650 = 900;
			}
			if (this.$mq === 'md') {
				value450 = 900;
				value520 = 1000;
				value650 = 1200;
			}
			if (this.$mq === 'sm') {
				value450 = 850;
				value520 = 950;
				value650 = 1150;
			}
			if(this.$mq==='lg' || this.$mq==='bg' || this.$mq==='md' || this.$mq==='sm') {
				window.onscroll = function() {

					if (window.pageYOffset < value450) {
						document.querySelector('#about').style.opacity = "1"
					}

					if (window.pageYOffset > value450) {
						document.querySelector('#about').style.opacity = "0.6"
					}
					if (window.pageYOffset > value520) {
						document.querySelector('#about').style.opacity = "0.3"
					}
					if (window.pageYOffset > value650) {
						document.querySelector('#about').style.opacity = "0"
					}

					if (window.pageYOffset > 120) {
						let element = document.getElementById('logo-particles')
						element.style.opacity = "0.5"
					}
					if (window.pageYOffset > 140) {
						let element = document.getElementById('logo-particles')
						element.style.opacity = "0.2"
					}
					if (window.pageYOffset > 160) {
						let element = document.getElementById('logo-particles')
						element.style.opacity = "0"
					}
					if (window.pageYOffset < 200 && window.pageYOffset > 130) {
						let element = document.getElementById('logo-particles')
						element.style.opacity = "0.2"
					}
					if (window.pageYOffset < 130) {
						let element = document.getElementById('logo-particles')
						element.style.opacity = "1"
					}
					if (window.pageYOffset < 320 && window.pageYOffset > 200) {
						let element = document.getElementById('logo-particles')
						element.style.opacity = "0.2"
					}
				}
			}
		}

	}
  
}
</script>

<style lang="scss" scoped>
   @import '../assets/scss/home.scss'
</style>