<template>
  <div v-bind:class="responsiveAboutContainer">
    <div class="row mb-5">
      <div class="col-lg-6 col-md-12">
          <kinesis-container>
            <kinesis-element :strength="15" type="depth">
              <h3 class="text-left mb-3"><strong v-bind:class="responsiveTitleSize">Our programming team</strong></h3>
            </kinesis-element>
          </kinesis-container>
          <div class="text-left">
            <p v-bind:class="responsiveBodySize">
            Our company is the result of extensive experience in the field of software engineering that has been built for 14 years in public, banking, startup and open-source sectors. As a group of specialists, we select tools and services so that they are individually tailored to your needs. We provide comprehensive service, regardless of whether it is permanent cooperation or one-time support.</p>
          </div>
      </div>
      <!--<b-modal id="modal-ad" v-bind:size="responsiveModalSize" hide-footer> 
        <template v-slot:modal-title>
              <span class="logo-link__left logo"><strong>jamna</strong></span> <span class="logo-link__right logo"><strong>software</strong></span>
            </template>
            <div>
            </div>
            <b-button class="mt-3 modal-buttons__button modal-buttons__button-send" id="i18j_contact_button" block @click="$bvModal.hide('modal-ad')"><strong><i class="fas fa-paper-plane mr-2"></i><span class="send-text">ok</span></strong></b-button>
      </b-modal>-->

      <div class="col-lg-6 col-md-12 mt-5">
        <div v-bind:class="responsiveInvestMargin">
          <kinesis-container>
            <kinesis-element :strength="15" type="depth">
              <h3 class="text-left text-lg-left text-md-nowrap mt-0 mb-2"><strong v-bind:class="responsiveTitleSize">Invest your money wisely</strong></h3>
            </kinesis-element>
          </kinesis-container>
          
          <div class="text-left">
            <p v-bind:class="responsiveBodySize">
            Investment in computerization should aim at deep understanding of the given problem, what will lead to achieving the desired effect.
            Choose the team of programmers with 14 years of experience that will meet your needs in a professional and efficient way.</p>
          </div>
          <div class="row">
            <div class="text-left mr-5 ml-2">
              <b-button id="btn-contact" @click="$bvModal.show('bv-modal-form')" v-bind:class="responsiveContactBtn">Contact us:<img src="../assets/static/img/new-email.png"  v-bind:class="responsiveEmailImg"></b-button>
            </div>
            <!--<div class="text-left">
              <b-button id="btn-references" @click="$bvModal.show('bv-modal-references')" v-bind:class="responsiveBtnModalReferences"><strong>References</strong></b-button>
            </div>-->

            <b-modal size="lg" id="bv-modal-references" hide-footer>
            <template v-slot:modal-title>
              <span class="logo-link__left logo"><strong>jamna</strong></span> <span class="logo-link__right logo"><strong>software</strong></span>
            </template>
            <div class="d-block text-center mt-3">
              <div>
                <b-tabs>
                  <b-tab active>
                    <template v-slot:title>
                      <a class="mr-2" target="_blank" href="https://zumax.co"><img class="clients-logo-img" src="../assets/static/img/logo_zumax.svg"></a>
                    </template>
                    <p class="p-3 mt-5 references__body">TODO: Zumax references</p>
                  </b-tab>    
                </b-tabs>
              </div>
            </div>
            <div class="d-flex modal-buttons">
              <div class="modal-buttons__empty-references"></div>
              <div class="d-flex modal-buttons__buttons-references">
                <b-button class="mt-3 modal-buttons__button modal-buttons__button--blue" id="i18j_contact_button" type="submit" block @click="$bvModal.hide('bv-modal-references')"><strong>Close</strong></b-button>
              </div>
            </div>
          </b-modal>
          </div>

          <b-modal size="lg" id="bv-modal-form" hide-footer>
            <template v-slot:modal-title>
              <span class="logo-link__left logo"><strong>jamna</strong></span> <span class="logo-link__right logo"><strong>software</strong></span>
            </template>
            <div class="d-block">
              <form action="https://formspree.io/biuro@jamnasoftware.pl" method="POST">
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" name="_replyto" class="form-control" id="emailInput" placeholder="name@example.com" required>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Your message</label>
                <textarea name="name" class="form-control" id="messageInput" rows="3" required></textarea>
              </div>
            </form>
            </div>
            <div class="d-flex modal-buttons">
              <div class="modal-buttons__empty"></div>
              <div class="d-flex modal-buttons__buttons">
                <b-button  class="mt-3 modal-buttons__button modal-buttons__button-cancel" block @click="$bvModal.hide('bv-modal-form')"><strong><i class="fas fa-window-close mr-2"></i><span class="cancel-text">Cancel</span></strong></b-button>
                <b-button class="mt-3 modal-buttons__button modal-buttons__button-send" id="i18j_contact_button" type="submit" block @click="submitForm"><strong><i class="fas fa-paper-plane mr-2"></i><span class="send-text">Send</span></strong></b-button>
              </div>
            </div>
          </b-modal>

          <b-modal id="message-sent-modal" hide-footer>
            <template v-slot:modal-title>
              <span class="logo-link__left logo logo">jamna</span> <span class="logo-link__right logo">software</span>
            </template>
            <div class="d-block text-center second-modal-body">
              <h3 class="mb-3">Thank you for getting in touch! </h3>
              <p class="font-smaller">
              We appreciate you contacting 
              <span class="page-header-logo__left-text logo">jamna</span> <span class="page-header-logo__right-text logo">software</span>. One of our colleagues will get back in touch with you soon!</p>
            </div>
            <b-button class="mt-3 mb-2 second_modal__button" block @click="$bvModal.hide('message-sent-modal')">Ok</b-button>
          </b-modal>

        </div>
      </div>
    </div>
  </div>
</template>


<script>

export default {
  name: 'About',


  mounted() {
    /*let self = this;
    setTimeout(function(){
      self.$bvModal.show('modal-ad')
    }, 5000);*/


  },

  methods: {

    submitForm: function() {
      if (document.querySelector('#emailInput').value.length < 5) {
        document.querySelector('#emailInput').classList.add('invalid')
      }
      else if (document.querySelector("#messageInput").value.length < 4) {
        document.querySelector("#messageInput").classList.add('invalid')
      }
      else {
        this.$bvModal.hide('bv-modal-form')
        this.$bvModal.show('message-sent-modal')
      }
    }
  },

  computed: {

    responsiveModalSize: function() {
      let size = 'lg'
      if (this.$mq==='sm' || this.$mq==='xs' || this.$mq==='md') size = 'sm'
      return size
    },

    responsiveAboutContainer: function() {
      let about_class = 'container-fluid p-0 mt-2 mb-4'
      if (this.$mq==='xs' || this.$mq==='sm') about_class = 'container-fluid p-0 mt-2 mb-4 about-sm'
      return about_class 
    },

    responsiveEmailImg: function() {
      let email_class = 'email-image'
      if (this.$mq==='bg') email_class = 'email-image-bg'
      if (this.$mq==='md') email_class = 'email-image-md'
      if (this.$mq==='xs' || this.$mq==='sm') email_class = 'email-image-sm'
      return email_class
    },

    responsiveContactBtn: function() {
      let btn_class = 'btn-modal mt-4'

      if (this.$mq==='xs' || this.$mq==='sm') btn_class = 'btn-contact-sm'
      if (this.$mq==='bg') btn_class = 'mt-3 btn-contact-bg'

      return btn_class

    },

    responsiveBodySize: function() {
      let body_class = ''
      if (this.$mq==='xs') body_class = 'body-size-xs'
      if (this.$mq==='sm') body_class = 'body-size-sm'
      if (this.$mq==='bg') body_class = 'body-size-bg'

      return body_class
    },

    responsiveTitleSize: function() {
      let title_class = ''
      if (this.$mq==='xs') title_class = 'title-size-xs'
      if (this.$mq==='sm') title_class = 'title-size-sm'
      if (this.$mq==='bg') title_class = 'title-size-bg'
      return title_class
    },

    responsiveInvestMargin: function() {
      let margin_class = ''
      if (this.$mq==='lg') margin_class = 'ml-5'
      if (this.$mq==='bg') margin_class = 'ml-5'
      
      return margin_class;
    },

    responsiveBtnModalReferences: function() {
      let btn_class = ''
      if (this.$mq==='lg') btn_class = 'btn-modal-lg mt-4'
      if (this.$mq==='bg') btn_class = 'btn-modal-bg mt-4'
      if (this.$mq==='md') btn_class = 'btn-modal-md mt-4'
      if (this.$mq==='sm') btn_class = 'btn-modal-sm mt-4'
      if (this.$mq==='xs') btn_class = 'btn-modal-xs mt-4'
      
      return btn_class
    }
  },

  props: {
    msg: String
  }
}
</script>

<style lang="scss" scoped>
   @import '../assets/scss/about.scss'
</style>