<template>
  <div class="column align-items-center clients-main">
        <div>
          <kinesis-container class=" mb-5">
            <kinesis-element :strength="5" type="depth">
              <h3 class="page-banner-text-base text-center mb-3 mt-5 title"><strong v-bind:class="responsiveTitleSize">Clients we've worked with:</strong></h3>
            </kinesis-element>
          </kinesis-container>
        </div>
        <div id="vue-slick-container">
        <VueSlickCarousel :arrows="true" :dots="true" v-bind="responsiveSliderSettings">
          <a target="_blank" href="#"><img id="etrade-img" v-bind:class="responsiveClientLogo" src="../assets/static/img/e-trade.png"></a>
          <a target="_blank" href="https://www.mennicaskarbowa.pl/"><img v-bind:id="responsiveSimbaImg" v-bind:class="responsiveClientLogo" src="../assets/static/img/simba.png"></a>
          <a class="mr-2" target="_blank" href="https://zumax.co"><img v-bind:id="responsiveZumaxImg" v-bind:class="responsiveClientLogo" src="../assets/static/img/logo_zumax.svg"></a>
          <a class="mr-5" target="_blank" href="https://www.gov.pl/web/przedsiebiorczosc-technologia"><img v-bind:id="responsiveMpitImg" v-bind:class="responsiveClientLogo" src="../assets/static/img/Logo_MPIT.png"></a>
          <a class="mr-4" target="_blank" href="http://iso-trade.eu/"><img id="isotrade-img" v-bind:class="responsiveClientLogo" src="../assets/static/img/Isotrade.png"></a>
          <a class="mr-4" target="_blank" href="https://www.idosell.com/pl/"><img id="idosell-img" v-bind:class="responsiveClientLogo" src="../assets/static/img/iai.png"></a>
          <a class="mr-5" target="_blank" href="https://pl.asseco.com"><img id="asseco-img" v-bind:class="responsiveClientLogo" src="../assets/static/img/assecco.png"></a>
          <a target="_blank" href="https://www.mennicaskarbowa.pl/"><img v-bind:id="responsiveMennicaImg" v-bind:class="responsiveClientLogo" src="../assets/static/img/mennica.png"></a>
        </VueSlickCarousel>
        </div>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'slick-carousel/slick/slick.css';
import 'slick-carousel/slick/slick-theme.css';

export default {
  name: 'Clients',
  components: {
    VueSlickCarousel 
  },

  mounted() {
    document.querySelector('.slick-dots').style.display = 'none'
  },

  updated() {
    document.querySelector('.slick-dots').style.display = 'none'
  },

  data() {
      return {
        settings: {
            "arrows": false,
            "dots": false,
            "infinite": true,
            "slidesToShow": 4,
            "slidesToScroll": 1,
            "autoplay": true,
            "speed": 500,
            "autoplaySpeed": 2000,
            "cssEase": "ease"
        },
      }
    },

  computed: {

    responsiveMpitImg: function() {
      let mpit_id = 'mpit-img'
      if(this.$mq==='xs' || this.$mq==='sm') {
        mpit_id = 'mpit-img-xs'
      }
      return mpit_id
    },

    responsiveIdosellImg: function() {
      let idosell_id = 'idosell-img'
      if(this.$mq==='xs' || this.$mq==='sm') {
        idosell_id = 'idosell-img-xs'
      }
      return idosell_id
    },

    responsiveZumaxImg: function() {
      let zumax_id = 'zumax-img'
      if(this.$mq==='xs' || this.$mq==='sm') {
        zumax_id = 'zumax-img-xs'
      }
      return zumax_id
    },

    responsiveMennicaImg: function() {
      let mennica_id = 'mennica-img'
      if (this.$mq==='xs' || this.$mq==='sm') {
        mennica_id = 'mennica-img-xs'
      }
      return mennica_id
    },

    responsiveSimbaImg: function() {
      let simba_id = 'simba-img'
      if(this.$mq==='xs' || this.$mq==='sm') {
        simba_id = 'simba-img-xs'
      }
      return simba_id
    },

    responsiveSliderSettings: function() {
      let settings = this.settings;
      if (this.$mq==='xs' || this.$mq==='sm') {
        settings["slidesToShow"] = 3;
      }
      if (this.$mq==='md') {
        settings["slidesToShow"] = 2;
      }
      return settings
    },

    responsiveClientLogo: function() {
      let logo_class = 'clients-logo'
      if (this.$mq==='xs') {
        logo_class = 'clients-logo-xs'
      }
      if (this.$mq==='sm') {
        logo_class = 'clients-logo-sm'
      }
      return logo_class
    },

    responsiveTitleSize: function() {
      let title_class = ''
      if (this.$mq==='xs') title_class = 'title-xs'
      if (this.$mq==='sm') title_class = 'title-sm'
      if (this.$mq==='bg') title_class = 'title-bg'
      return title_class
    }
  },
  props: {
    msg: String
  }
}
</script>

<style lang="scss" scoped>
   @import '../assets/scss/clients.scss'
</style>