<template>
  <div>
    <div v-if="$mq==='md' || $mq==='sm' || $mq==='xs'">
      <FooterSmall />
    </div>
    <div v-else>
      <FooterBig />
    </div>
  </div>
</template>


<script>
import FooterSmall from '../components/rwd/FooterSmall'
import FooterBig from '../components/rwd/FooterBig'

export default {
  name: 'Footer',

  props: {
    msg: String
  },

  components: {
    FooterSmall,
    FooterBig
  },

  computed: {

    responsiveHelpBlock: function() {
      let block_class = 'd-flex flex-column text-left help-block ml-4'
      return block_class
    },

    responsiveNavigationItem: function() {
      let item_class = 'navigation-block__item'
      if (this.$mq==='bg') item_class = 'navigation-block__item navigation-block__item-bg'
      return item_class
    },

    responsiveHelpItem1: function() {
      let item_class = 'help-block__item1'
      if (this.$mq==='bg') item_class = 'help-block__item1 help-block__item1-bg'
      return item_class
    },

    responsiveHelpItem2: function() {
      let item_class = 'help-block__item2'
      if (this.$mq==='bg') item_class = 'help-block__item2 help-block__item2-bg'
      return item_class
    },

    responsiveSinceText: function() {
      let since_class = 'text-left footer__left__since-text'
      if (this.$mq==='bg') since_class = 'lext-left footer__left__since-text-bg'
      return since_class
    },

    responsiveFooterLeftContainer: function() {
      let left_class = 'jamna-container'
      return left_class
    },

    responsiveFooterRightContainer: function() {
      let right_class = ''
      if (this.$mq==='lg' || this.$mq==='bg') {
        right_class = 'footer__right__container'
      }
      if (this.$mq==='md') {
        right_class = 'footer__right__container-md'
      }
      return right_class
    },

    responsiveLinksSize: function() {
      let links_class = 'footer__links'

      if (this.$mq==='xs') {
        links_class = 'footer__links-xs'
      }
      return links_class

    },

    responsiveFooterTitleLeft: function() {
      let footer_class = ' text-left footer__left__title ml-4'
      if (this.$mq==='sm') footer_class = 'text-left footer__left__title-sm'
      if (this.$mq==='xs') footer_class = 'text-left footer__left__title-xs' 
      
      return footer_class;
    },

    responsiveFooterBodyLeft: function() {
      let footer_class = 'd-flex flex-column align-items-start ml-4 footer__left__body'
      if (this.$mq==='bg') footer_class = ' footer__left__body-bg'
      if (this.$mq==='sm') footer_class = ' footer__left__body-sm'
      if (this.$mq==='xs') footer_class = ' footer__left__body-sm'
      return footer_class
    },

    responsiveFooterTitleRight: function() {
      let footer_class = 'text-left footer__right__title'
      if(this.$mq==='sm') footer_class = 'footer__right__title-sm'
      if(this.$mq==='xs') footer_class = 'footer__right__title-sm'

      return footer_class
    },

    responsiveFooterBodyRight: function() {
      let footer_class = 'd-flex align-items-start footer__right___body'
      if(this.$mq==='sm') footer_class += ' footer__right__body-sm'
      if(this.$mq==='xs') footer_class += ' footer__right__body-sm'

      return footer_class
    }
  }
}
</script>
