<template>
  <div v-bind:class="responsiveMainMargin">
    <kinesis-container class="mt-2 mb-5">
      <kinesis-element :strength="5" type="depth">
        <h3 class="page-banner-text-base text-center mb-3 title"><strong v-bind:class="responsiveTitleSize">Technologies/tools we use:</strong></h3>
      </kinesis-element>
    </kinesis-container>
      <div class="d-flex flex-column mb-5 ml-5">
      <div v-bind:class="responsiveIconsContainer">
        <div v-if="$mq==='lg'">
          <div class="mr-5">

            <b-button class="mr-5 tooltip-btn" id="button-1"><i class="fab fa-python icons-container__icon"></i></b-button>
            <b-tooltip target="button-1" variant="info" custom-class="tooltip-class">
              <div class="p-3">
              <strong>python3, django, flask, gui, exe, scrapy, selenium</strong></div>
            </b-tooltip>

            <b-button class="mr-5 ml-5 tooltip-btn" id="button-2"><i class="fa fa-database icons-container__icon"></i></b-button>
            <b-tooltip target="button-2" variant="info">
              <div class="p-3">
              <strong>postgresql, mysql, mmsql, mongodb, elasticsearch, mariadb</strong></div>
            </b-tooltip>
            
            <b-button class="mr-5 ml-5 tooltip-btn" id="button-3"><i class="fab fa-docker icons-container__icon"></i></b-button>
            <b-tooltip target="button-3" variant="info">
              <div class="p-3">
              <strong>kubernetes, docker</strong></div>
            </b-tooltip>

            <b-button class="mr-5 ml-5 tooltip-btn" id="button-4"><i class="fab fa-linux icons-container__icon"></i></b-button>
            <b-tooltip target="button-4" variant="info">
              <div class="p-3">
              <strong>linux, windows</strong></div>
            </b-tooltip>

            <b-button class=" ml-5 tooltip-btn" id="button-5"><i class="fab fa-git-square icons-container__icon"></i></b-button>
            <b-tooltip target="button-5" variant="info">
              <div class="p-3">
              <strong>git, svn</strong></div>
            </b-tooltip>
            
          </div>
          <div>
            <b-button class="mr-5 tooltip-btn" id="button-6"><i class="fab fa-aws icons-container__icon"></i></b-button>
            <b-tooltip target="button-6" variant="info" placement="bottom">
              <div class="p-3">
              <strong>aws, azure</strong></div>
            </b-tooltip>

            <b-button class="mr-5 ml-5 tooltip-btn" id="button-7"><i class="fab fa-bootstrap icons-container__icon"></i></b-button>
            <b-tooltip target="button-7" variant="info" placement="bottom">
              <div class="p-3">
              <strong>bootstrap4, foundation</strong></div>
            </b-tooltip>


            <b-button class="mr-5 ml-5 tooltip-btn" id="button-8"><i class="fab fa-js icons-container__icon"></i></b-button>
            <b-tooltip target="button-8" variant="info" placement="bottom">
              <div class="p-3">
              <strong>js, vuejs, react, nodejs, extjs</strong></div>
            </b-tooltip>
            
            <b-button class="mr-5 ml-5 tooltip-btn" id="button-9"><i class="fa fa-mobile icons-container__icon"></i></b-button>
            <b-tooltip target="button-9" variant="info" placement="bottom">
              <div class="p-3">
              <strong>react native</strong></div>
            </b-tooltip>

            <b-button class="ml-5 tooltip-btn" id="button-10"><i class="fas fa-server icons-container__icon"></i></b-button>
            <b-tooltip target="button-10" variant="info" placement="bottom">
              <div class="p-3">
              <strong>kong, ci, ansible, cdn, ngnix</strong></div>
            </b-tooltip>
            
          </div>
        </div>
        <!--RWD icons-->
        <div v-else class="row">
          <div v-bind:class="responsiveIconContainer">
            <b-button v-bind:class="responsiveTooltipBtn" id="button-1-mobile"><i class="fab fa-python"></i></b-button>
            <b-tooltip target="button-1-mobile" variant="info">
              <div class="p-3">
              <strong>python3, django, flask, gui, exe, scrapy, selenium</strong></div>
            </b-tooltip>
          </div>
          <div v-bind:class="responsiveIconContainer">
            <b-button v-bind:class="responsiveTooltipBtn" id="button-2-mobile"><i class="fa fa-database"></i></b-button>
            <b-tooltip target="button-2-mobile" variant="info">
              <div class="p-3">
              <strong>postgresql, mysql, mmsql, mongodb, elasticsearch, mariadb</strong></div>
            </b-tooltip>
          </div>
          <div v-bind:class="responsiveIconContainer">
            <div v-bind:class="responsiveIconContainer">
            <b-button v-bind:class="responsiveTooltipBtn" id="button-3-mobile"><i class="fab fa-docker"></i></b-button>
            <b-tooltip target="button-3-mobile" variant="info">
              <div class="p-3">
              <strong>kubernetes, docker</strong></div>
            </b-tooltip>
          </div>
          </div>
          <div v-bind:class="responsiveIconContainer">
            <b-button v-bind:class="responsiveTooltipBtn" id="button-4-mobile"><i class="fab fa-linux"></i></b-button>
            <b-tooltip target="button-4-mobile" variant="info">
              <div class="p-3">
              <strong>linux, windows</strong></div>
            </b-tooltip>
          </div>
          <div v-bind:class="responsiveIconContainer">
            <b-button v-bind:class="responsiveTooltipBtn" id="button-5-mobile"><i class="fab fa-git-square"></i></b-button>
            <b-tooltip target="button-5-mobile" variant="info">
              <div class="p-3">
              <strong>git, svn</strong></div>
            </b-tooltip>
          </div>
          <div v-bind:class="responsiveIconContainer">
            <b-button v-bind:class="responsiveTooltipBtn" id="button-6-mobile"><i class="fab fa-aws"></i></b-button>
            <b-tooltip target="button-6-mobile" variant="info">
              <div class="p-3">
              <strong>aws, azure</strong></div>
            </b-tooltip>
          </div>
          <div v-bind:class="responsiveIconContainer">
            <b-button v-bind:class="responsiveTooltipBtn" id="button-7-mobile"><i class="fab fa-bootstrap"></i></b-button>
            <b-tooltip target="button-7-mobile" variant="info">
              <div class="p-3">
              <strong>bootstrap4, foundation</strong></div>
            </b-tooltip>
          </div>
          <div v-bind:class="responsiveIconContainer">
            <b-button v-bind:class="responsiveTooltipBtn" id="button-8-mobile"><i class="fab fa-js"></i></b-button>
            <b-tooltip target="button-8-mobile" variant="info">
              <div class="p-3">
              <strong>js, vuejs, react, nodejs, extjs</strong></div>
            </b-tooltip>
          </div>
          <div v-bind:class="responsiveIconContainer">
            <b-button v-bind:class="responsiveTooltipBtn" id="button-9-mobile"><i class="fa fa-mobile"></i></b-button>
            <b-tooltip target="button-9-mobile" variant="info">
              <div class="p-3">
              <strong>react native</strong></div>
            </b-tooltip>
          </div>
          <div v-bind:class="responsiveIconContainer">
            <b-button v-bind:class="responsiveTooltipBtn" id="button-10-mobile"><i class="fas fa-server"></i></b-button>
            <b-tooltip target="button-10-mobile" variant="info">
              <div class="p-3">
              <strong>kong, ci, ansible, cdn, ngnix</strong></div>
            </b-tooltip>
          </div>
        </div>
        <!--End of RWD icons-->
      </div>
      </div>
  </div>
</template>


<script>
export default {
  name: 'Icons',
  props: {
    msg: String
  },

  computed: {

    responsiveTooltipBtn: function() {
      let btn_class = 'tooltip-btn '
      if (this.$mq==='xs') btn_class += 'tooltip-btn-xs'
      if (this.$mq==='sm') btn_class += 'tooltip-btn-sm'
      if (this.$mq==='md') btn_class += 'tooltip-btn-md'
      return btn_class
    },

    responsiveIconsContainer: function() {
      let icons_class = 'icons-container'

      if (this.$mq==='xs' || this.$mq==='sm') {
        icons_class = 'icons-container-sm'
      }

      return icons_class
    },

    responsiveTitleSize: function() {
      let title_class = ''
      if (this.$mq==='bg') title_class = 'title-size-bg'
      if (this.$mq==='sm') title_class = 'title-size-sm'
      if (this.$mq==='xs') title_class = 'title-size-xs'
      return title_class
    },

    responsiveMainMargin: function() {
      let main_class = 'main'
      if (this.$mq==='bg') main_class += ' bg'
      if (this.$mq==='md') main_class += ' md'
      if (this.$mq==='sm') main_class += ' sm'
      if (this.$mq==='xs') main_class += ' xs'
      
      return main_class;
    },

    responsiveIconContainer: function() {
      let icon_class = ''

      if (this.$mq==='bg') icon_class = 'icon-container-md'
      if (this.$mq==='md') icon_class = 'icon-container-md'
      if (this.$mq==='sm') icon_class = 'icon-container-sm'
      if (this.$mq==='xs') icon_class = 'icon-container-xs'

      return icon_class
    }
  }
}
</script>

<style lang="scss" scoped>
   @import '../assets/scss/icons.scss'
</style>
