<template>
  <div id="idosell">
    <div class="navbar-base"></div>
    <div id="body">
      <div id="navbar">
        <Navbar />
      </div>
      <div class="body__text">
        <div class="mt-4 row justify-content-between align-items-center">
          <div class="ml-2">
            <b-alert style="width: 106%" show>The content intended for Polish customers using the Idosell Shop service</b-alert>
          </div>
          <div>
            <a class="mr-2" target="_blank" href="https://www.idosell.com"><img style="width: 250px;" src="../assets/static/img/iai2.png"></a>
          </div>
        </div>
        <div v-bind:class="responsiveMainContainer">
            <ul v-bind:class="responsiveList">
              <li class="idosell-list-title mb-3">Zapraszamy Państwa do współpracy w ramach wdrożenia, automatyzacji oraz innych procesów związanych ze środowiskiem e-commerce <a href="https://www.idosell.com/pl/shop/" target="_blank" class="idosell-href"> idosell shop</a>.</li>
              <li class="mb-3">Przykładowe wdrożenia:</li>
              <li><i class="fas fa-check mr-2"></i>integrator subiekt-gt - <a href="https://www.idosell.com/pl/shop/" target="_blank" class="idosell-href"> idosell shop</a> ( windows, python3 )</li>
              <li><i class="fas fa-check mr-2"></i>automatyzacja wydruków panelu <a href="https://www.idosell.com/pl/shop/" target="_blank" class="idosell-href"> idosell shop </a> ( windows, python3, selenium )</li>
              <li><i class="fas fa-check mr-2"></i>panel webowy, który był nakładką na API <a href="https://www.idosell.com/pl/shop/" target="_blank" class="idosell-href"> idosell shop </a>( python3, linux, Django )</li>
              <li><i class="fas fa-check mr-2"></i>integrator strona producenta produktów - <a href="https://www.idosell.com/pl/shop/" target="_blank" class="idosell-href"> idosell shop </a>( windows, python3, scrapy )</li>
            </ul>
        </div>
        <p class="text-left">Co możemy dla Państwa wykonać:</p>

        <hr class="mr-3" width="106%"/>

        <div v-bind:class="responsiveCardsContainer">

          <div v-bind:class="responsiveCardContainer">
            <div v-bind:class="responsiveImgContainer">
            <UndrawFolder v-bind:class="responsiveUndraw1Class" primary-color='#2bb5e3' v-bind:height='responsiveUndraw1Size' width='80%'/></div>
            <h5 v-if="$mq==='xs' || $mq==='sm'" class="text-center"><strong>Wprowadzanie treści</strong></h5>
            <h5 v-else class="text-center" style="font-size: 0.9em;"><strong>Wprowadzanie treści</strong></h5>
          </div>


           <div v-bind:class="responsiveCardContainer">
            <div v-bind:class="responsiveImgContainer">
            <UndrawNoteList v-bind:class="responsiveUndraw2Class" primary-color='#2bb5e3' v-bind:width='responsiveUndraw2Size'/></div>
            <h5 v-if="$mq==='xs' || $mq==='sm'" class="text-center"><strong>Szablon graficzny sklepu</strong></h5>
            <h5 v-else class="text-center" style="font-size: 0.9em;"><strong>Szablon graficzny sklepu</strong></h5>
          </div>


          <div v-bind:class="responsiveCardContainer">
            <div v-bind:class="responsiveImgContainer">
            <UndrawFinancialData v-bind:class="responsiveUndraw3Class" primary-color='#2bb5e3' v-bind:height='responsiveUndraw3Size'/></div>
            <h5 v-if="$mq==='xs' || $mq==='sm'" class="text-center" ><strong>Opieka bieżąca i obsługa graficzna po wdrożeniu</strong></h5>
            <h5 v-else class="text-center" style="font-size: 0.9em;"><strong>Opieka bieżąca i obsługa graficzna po wdrożeniu</strong></h5>
          </div>


          <div style="width:100%">
            <div class="mt-4 mb-4 text-left"><div v-bind:class="responsiveIdosellEmail"><span v-bind:class="responsiveEmailText">Dowiedz się więcej:</span> <a class="ml-3 email-img-a" href="mailto:biuro@jamnasoftware.pl"><img src="../assets/static/img/new-email.png" v-bind:class="responsiveEmailImg"></a></div></div>
          </div>

           <div v-bind:class="responsiveCardContainer">
            <div v-bind:class="responsiveImgContainer">
            <UndrawProjections v-bind:class="responsiveUndraw4Class" primary-color='#2bb5e3' v-bind:height='responsiveUndraw4Size'/></div>
            <h5 v-if="$mq==='xs' || $mq==='sm'" class="text-center"><strong>Integracje i rozwiązania indywidualne</strong></h5>
            <h5 v-else class="text-center" style="font-size: 0.9em;"><strong>Integracje i rozwiązania indywidualne</strong></h5>
          </div>


          <div v-bind:class="responsiveCardContainer">
            <div v-bind:class="responsiveImgContainer">
            <UndrawToTheStars v-bind:class="responsiveUndraw5Class" primary-color='#2bb5e3' v-bind:height='responsiveUndraw5Size'/></div>
            <h5 v-if="$mq==='xs' || $mq==='sm'" class="text-center"><strong>Importy danych</strong></h5>
            <h5 v-else class="text-center" style="font-size: 0.9em;"><strong>Importy danych</strong></h5>
          </div>
      
           <div v-bind:class="responsiveCardContainer">
            <div v-bind:class="responsiveImgContainer">
            <UndrawBookmarks v-bind:class="responsiveUndraw5Class" primary-color='#2bb5e3' v-bind:height='responsiveUndraw6Size'/></div>
            <h5 v-if="$mq==='xs' || $mq==='sm'" class="text-center"><strong>Opracowanie strategii integracji</strong></h5>
            <h5 v-else class="text-center" style="font-size: 0.9em;"><strong>Opracowanie strategii integracji</strong></h5>
          </div>

        </div>

        <hr class="mr-3 mt-4" width="106%"/>
        <h5 v-bind:class="responsiveReference">Kupując licencję <a href="https://www.idosell.com/pl/shop/" target="_blank" class="idosell-href"> idosell shop </a> przez nasz link referencyjny otrzymają Państwo rabat na prace wdrożeniowe (od 5% do 10%) </h5>
        <b-button v-bind:class="responsiveBuyBtn"><i class="fas fa-shopping-cart mr-2"></i>kup sklep internetowy</b-button>

      </div>
    </div>
    <div id="footer">
      <Footer />
    </div>
  </div>
</template>



<script>
import Navbar from './Navbar'
import Footer from './Footer'
import UndrawToTheStars from 'vue-undraw/UndrawToTheStars';
import UndrawFolder from 'vue-undraw/UndrawFolder'; 
import UndrawBookmarks from 'vue-undraw/UndrawBookmarks';
import UndrawFinancialData from 'vue-undraw/UndrawFinancialData'; 
import UndrawProjections from 'vue-undraw/UndrawProjections';
import UndrawNoteList from 'vue-undraw/UndrawNoteList'; 

export default {
  name: 'Idosell',

  components: {
    Navbar,
    Footer,
    UndrawToTheStars,
    UndrawFolder,
    UndrawBookmarks,
    UndrawFinancialData,
    UndrawProjections,
    UndrawNoteList
  },

  computed: {

    responsiveList: function() {
      let list = 'idosell-list'
      if (this.$mq==='xs' || this.$mq==='sm') list = 'idosell-list idosell-list-sm'
      return list
    },

    responsiveEmailImg: function() {
      let email_class = 'email-img'
      return email_class
    },

    responsiveReference: function() {
      let ref_class = 'mt-5 buy-btn-label'
      if (this.$mq==='bg') ref_class = 'mt-5 buy-btn-label label-bg'
      return ref_class
    },

    responsiveImgContainer: function() {
      let img_class = 'img-container'
      if (this.$mq==='bg') img_class = 'img-container-bg'
      return img_class
    },

    responsiveUndraw1Class: function() {
      let undraw_class = 'mb-5 undraw-1'
      if (this.$mq==='bg') undraw_class = 'mb-5 undraw-1-bg'
      return undraw_class
    },

    responsiveUndraw2Class: function() {
      let undraw_class = 'mb-5 undraw-2'
      if (this.$mq==='bg') undraw_class = 'mb-5 undraw-2-bg'
      return undraw_class
    },

    responsiveUndraw3Class: function() {
      let undraw_class = 'mb-5 undraw-3'
      if (this.$mq==='bg') undraw_class = 'mb-5 undraw-3-bg'
      return undraw_class
    },

    responsiveUndraw4Class: function() {
      let undraw_class = 'mb-5 undraw-4'
      if (this.$mq==='bg') undraw_class = 'mb-5 undraw-4-bg'
      return undraw_class
    },

    responsiveUndraw5Class: function() {
      let undraw_class = 'mb-5 undraw-5'
      if (this.$mq==='bg') undraw_class = 'mb-5 undraw-5-bg'
      return undraw_class
    },

    responsiveUndraw6Class: function() {
      let undraw_class = 'mb-5 undraw-6'
      if (this.$mq==='bg') undraw_class = 'mb-5 undraw-6-bg'
      return undraw_class
    },

    responsiveUndraw1Size: function() {
      let height = '120px;'
      if (this.$mq==='bg') height = '90px'
      if (this.$mq==='md') height = '150px'
      return height
    },

    responsiveUndraw2Size: function() {
      let width = '90%'
      if (this.$mq==='bg') width = '70%'
      if (this.$mq==='md') width = '70%'
      return width
    },

    responsiveUndraw3Size: function() {
      let height = '110px'
      if (this.$mq==='bg') height = '95px'
      if (this.$mq==='md') height = '130px'
      return height
    },

    responsiveUndraw4Size: function() {
      let height = '150px'
      if (this.$mq==='bg') height = '100px'
      if (this.$mq==='md') height = '140px'
      return height
    },

    responsiveUndraw5Size: function() {
      let height = '150px'
      if (this.$mq==='bg') height = '115px'
      if (this.$mq==='md') height = '160px'
      return height
    },

    responsiveUndraw6Size: function() {
      let height = '120px'
      if (this.$mq==='bg') height = '100px'
      return height
    },

    responsiveMainContainer: function() {
      let main_class = 'text-left mt-5 mb-5'
      if (this.$mq==='xs' || this.$mq==='sm') main_class = 'text-left mt-1 mb-2'
      return main_class
    },

    responsiveBuyBtn: function() {
      let btn_class = 'mt-5 mb-5 buy-shop-btn'
      if (this.$mq==='xs' || this.$mq==='sm') btn_class = 'mt-3 mb-3 buy-shop-btn buy-shop-btn-xs'
      if (this.$mq==='bg') btn_class = 'mt-3 mb-3 buy-shop-btn buy-shop-btn-bg'
      return btn_class
    },

    responsiveCardContainer: function() {
      let card_class = 'flex-column mt-5 mr-5 ml-5 idosell-card shadow p-3 mb-5 bg-white rounded'
      if (this.$mq==='xs') card_class = 'flex-column mt-2 ml-1 idosell-card-xs shadow p-3 mb-5 bg-white rounded'
      if (this.$mq==='sm') card_class = 'flex-column mt-2 ml-2 idosell-card shadow p-3 mb-5 bg-white rounded'
      if (this.$mq==='md') card_class = 'flex-column mt-2 ml-2 idosell-card-md shadow p-3 mb-5 bg-white rounded'
      if (this.$mq==='bg') card_class = 'flex-column mt-2 mr-3 ml-4 idosell-card-bg shadow p-3 mb-5 bg-white rounded'
      return card_class
    },

    responsiveCardsContainer: function() {
      let cards_class = 'cards-container'
      if (this.$mq==='xs') cards_class = 'cards-container-xs'
      if (this.$mq==='sm' || this.$mq==='md') cards_class = 'cards-container-xs'
      if (this.$mq==='bg') cards_class = 'cards-container-bg'
      return cards_class
    },

    responsiveIdosellTitle: function() {
      let title_class = 'text-left title'
      if (this.$mq==='xs') title_class = 'title-xs'
      if (this.$mq==='sm') title_class = 'title-sm'
      if (this.$mq==='bg') title_class = 'title-bg'
      return title_class
    },
    responsiveIdosellEmail: function() {
      let email_class = 'idosell-email'
      if (this.$mq==='xs') email_class = 'idosell-email-xs'
      return email_class
    }
  },

  props: {
    msg: String
  },

  
}
</script>

<style lang="scss" scoped>
   @import '../assets/scss/idosell.scss'
</style>