<template>
  <div>
    <div class="container-fluid navbar-container mb-5 mt-4 logo-container">
      <div class="row">
        <div class="logo-img-container">
          <button @click="goHome" title="jamnasoftware.pl - Software house, B2C, B2B, E - Commerce, ERP, Subiekt GT, IdoSell Shop" v-bind:class="responsiveLogoLink">
            <img src="../assets/static/img/new-logo.png" v-bind:class="responsiveLogoImg">
          </button>
        </div>
        <hr />
      </div>
    </div>
  </div>
</template>


<script>

export default {
  name: 'Logo',

  props: {
    msg: String
  },

  computed: {

    responsiveLogoImg: function() {
      let logo_class = 'logo-img'
      if (this.$mq==='md') logo_class = 'logo-img-md'
      if (this.$mq==='xs' || this.$mq==='sm') logo_class = 'logo-img-sm'
      return logo_class
    },

    responsiveLogoLink: function() {
      let logo_class = 'logo-link'
      if (this.$mq === 'xs') logo_class = ' logo-jamna-xs '
      if (this.$mq === 'sm') logo_class = ' logo-jamna-sm '
      if (this.$mq === 'md') logo_class = ' logo-jamna-md '

      return logo_class
    }
  },

  methods: {
    goHome: function() {
      this.$router.push({name: "Home"})
      window.scrollTo(0, 0)
    }
  }
}
</script>


<style lang="scss" scoped>
   @import '../assets/scss/logo.scss'
</style>
