<template>
  <div>
    <div class="navbar-container">
      <div class="row align-items-center justify-content-between" id="idosell">
        <div v-bind:id="responsiveLogoId">
          <Logo />
        </div>
        <div v-if="$mq==='sm' || $mq==='xs' || $mq==='md'" class="hamburger-container row align-items-center">
          <div class="hamburger-container__idosell">
          <b-dropdown variant="link" offset="-100" no-caret>
            <template v-slot:button-content>
              <i class="fas fa-bars hamburger-class"></i>
            </template>
            <b-dropdown-item href="#">
              <router-link to="/idosell-shop" class="nav-shops__link"><span id="idosell-title"><i class="fas fa-shopping-cart mr-2"></i>idosell shop</span></router-link>
            </b-dropdown-item>
            <b-dropdown-item href="#">
              <router-link to="/services" class="nav-shops__link"><span id="idosell-title"><i class="fas fa-address-card mr-2"></i>services</span></router-link>
            </b-dropdown-item>
            <b-dropdown-item href="#">
              <router-link to="/showcase" class="nav-shops__link"><span id="idosell-title"><i class="fas fa-tasks mr-2"></i>showcase</span></router-link>
            </b-dropdown-item>
            <b-dropdown-item href="#">
              <router-link to="/jobs" class="nav-shops__link"><span id="idosell-title"><i class="fas fa-briefcase mr-2"></i>jobs</span></router-link>
            </b-dropdown-item>
            <b-dropdown-item href="#">
              <router-link to="/contact" class="nav-shops__link"><span id="idosell-title"><i class="fas fa-briefcase mr-2"></i>contact</span></router-link>
            </b-dropdown-item>
          </b-dropdown>
          </div>
        </div>
        <div v-else class="desktop-container">
          <div v-bind:class="responsiveIdosellClass">
            <div v-bind:id="responsiveNavbarContainer" v-bind:class="responsiveIdosellPosition">
              <router-link to="/idosell-shop" v-bind:class="responsiveNavLink"><span id="idosell-title"><i class="fas fa-shopping-cart mr-2"></i><span @mouseover="mouseOver($event)" @mouseleave="mouseLeave($event)">idosell shop</span></span></router-link>
              <router-link to="/services" v-bind:class="responsiveNavLink"><span id="idosell-title"><i class="fas fa-handshake mr-2"></i><span @mouseover="mouseOver($event)" @mouseleave="mouseLeave($event)">services</span></span></router-link>
              <router-link to="/showcase" v-bind:class="responsiveNavLink"><span id="idosell-title"><i class="fas fa-tasks mr-2"></i><span @mouseover="mouseOver($event)" @mouseleave="mouseLeave($event)">showcase</span></span></router-link>
              <router-link to="/jobs" v-bind:class="responsiveNavLink"><span id="idosell-title"><i class="fas fa-briefcase mr-2"></i><span @mouseover="mouseOver($event)" @mouseleave="mouseLeave($event)">jobs</span></span></router-link>
              <router-link to="/contact" v-bind:class="responsiveNavLink"><span id="idosell-title"><i class="fas fa-address-book mr-2"></i><span @mouseover="mouseOver($event)" @mouseleave="mouseLeave($event)">contact</span></span></router-link>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import Logo from '@/components/Logo'

export default {
  name: 'Navbar',

  components: {
    Logo
  },

  props: {
    msg: String
  },

  computed: {

    responsiveLogoId: function() {
      let logo_id = 'logo'
      if (this.$mq==='xs' || this.$mq==='sm' || this.$mq==='md') logo_id = 'logo-mobile'
      return logo_id
    },

    responsiveNavLink: function() {
      let nav_link = 'nav-shops__link'
      if (this.$mq==='bg') nav_link = 'nav-shops__link nav-shops__link-bg'
      return nav_link
    },

    responsiveNavbarContainer: function() {
      let nav_id = 'navbar-container'
      if (this.$mq==='bg') nav_id = 'navbar-container-bg'
      return nav_id
    },

    responsiveIdosellPosition: function() {
      let idosell_class = 'desktop'
      if (this.$mq==='bg') {
        idosell_class = 'desktop-bg'
      }
      if (this.$mq==='lg') {
        idosell_class = 'desktop-lg'
      }
      return idosell_class
    },

    responsiveIdosellClass: function() {
      let idosell_class = 'nav-shops'
            if (this.$mq==='md') idosell_class = 'nav-shops-md'
     
            return idosell_class;
    },
  },

  methods: {
    goHome: function() {
      this.$router.push('/')
    },
    mouseOver: function(event) {
      let parent = event.target.parentElement;
      let icon = parent.querySelector('svg');
      icon.classList.add('blue-icon');
    },
    mouseLeave: function(event) {
      let parent = event.target.parentElement;
      let icon = parent.querySelector('svg');
      icon.classList.remove('blue-icon');
    }
  }
}
</script>


<style lang="scss" scoped>
   @import '../assets/scss/navbar.scss'
</style>
