<template>
  <div id="texts" class="d-flex justify-content-center align-items-center">

  <div class="box sb1">In 2008 we created <a target="_blank" href="https://amxx.pl/" class="amxx"> amxx.pl</a> - the second largest forum in the world about programming Half Life 1 engine.</div>
  </div>
</template>



<script>

export default {
  name: 'Texts',

  computed: {

    responsiveFlexPosition: function() {
      let flex_class = "row"
      if (this.$mq==='xs' || this.$mq==='sm') flex_class = 'flex-column'
      if (this.$mq==='md') flex_class = 'flex-column flex-md'
      return flex_class
    }
  },

  props: {
    msg: String
  },

  
}
</script>

<style lang="scss" scoped>
   @import '../assets/scss/texts.scss'
</style>