@import url('https://fonts.googleapis.com/css?family=Nunito&subset=latin-ext');


 *, *:before, *:after {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 html, body {
     position: relative;
     height: 100%;
     font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

 body {
     background: #e9ebee;
     color: #4b5d73;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.6;
     letter-spacing: 0.02em;
}

body i {
    font-family:'FontAwesome'!important;
    font-style: normal;
}

img {
    max-width: 100%;
}

hr {
  width: 97%;
}

 a {
     text-decoration: none;
     color: #00a3d7;
     transition: all 0.15s linear;
}

a:hover {
         text-decoration-color: #888;

}
 p {
     font-size: 16px;
}
 h3 {
     margin: .5em 0;
     font-size: 36px;
     line-height: 1.3em;
     font-weight: 700;
     color: #273f5b;
     letter-spacing: 0.02em;
}
 h3 a {
     color: inherit;
 }

 a { color:#3578E5; }

@media(min-width: 801px) {
  #button-mobile {
    display: none;
  }
}

@media (max-width: 800px) {
     h3 {
         font-size: 1.8em;
    }
    .slick-list {
        margin-top: 48px !important;
    }
    .badge-list {
        margin-top: 34px;
    }
    .container-fluid {
        width: 80% !important;
    }
    .page-banner-text-base {
        text-align: center !important;
    }
    #particle-canvas {
        width: 100%;
        height: 200px !important;
    }
    .list-unstyled__first {
        list-style-type: none;
        margin-left: -50px !important;
    }
    .part-title__left {
        margin-left: 0px !important;
    }
    .contact__form {
      margin-top: 48px;
    }
    .navbar-container div {
      margin: 0 auto !important;
    }
    .navbar-mobile {
      border: 1px solid #c3c7cd;
      background-color: #f5f6f7;
    }
    .navbar-mobile li {
      padding-top: 0.5rem;
    }
    .navbar-mobile li a {
      color: #273f5b;
      font-size: 20px;
    }
    .page-header-logo {
      margin-left: 0px !important;
      font-size: 2rem !important;
    }
    #button-mobile {
      position:relative;
      top: 0.3em;
      border: none;
      background: transparent;
    }
    #button-mobile span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #00a3d7;
      border-radius: 3px;
    }
    #button-mobile span:nth-child(2) {
      border:2px solid #000;
    }
    .navbar-container__items {
      display: none;
    }
    .language-caption {
      display: none !important;
    }
}
@media (max-width: 640px) {
    p {
         font-size: 14px;
    }
     h3 {
         font-size: 1.6em;
    }
    .badge-list img {
    width: calc((100vw - (100vw / 4.0)) / 2) !important;
    }
  }
@media (max-width: 480px) {
     h3 {
         font-size: 1.4em;
    }

    .container-fluid {
        width: 90% !important;
    }
}
@media (max-width: 360px) {
     h3 {
         font-size: 1.2em;
    }
}

.navbar-container__items {
      margin-top: 14px;
      margin-left: -5px;
}

.navbar-container__items a{
      color:#000;
      font-weight: 490;
      letter-spacing: 1px;
}

.selectpicker:focus {
  outline: none;
}

.selectpicker {
  margin-top: -10px !important;
  border: 1px solid #00a3d7;
  background-color: #f5f6f7;
}

.language-caption {
  display: inline;
}

.contact__form__btn {
  color: #fff;
  background-color: #4267b2;
  border-color: #4267b2;
  margin-right: 15px;
  cursor: pointer;
}

.contact__form__btn:hover {
  color: #fff;
  background-color: #385898;
}

.contact__form {
  border: 1px solid #C3C7CD;
  background-color: #f5f6f7;
  padding-top: 30px;
}

.badge-list img {
  width: 200px;
}

.form-group textarea {
  min-height: 375px;
}

.media-body {
  margin-left: -30px;
}

.section-title {
  font-size: 24px;
  text-align: center;
}

.card-header {
  background-color:#f5f6f7;
  border:none;
}

.card-header button {
  color:#273f5b;
  cursor: pointer;
  text-decoration: none;
}
.contact__items i {
  font-size: 15px;
  margin-right: 1.5vh;
}

.contact__items ul {
  list-style-type: none;
  margin:0px;
  padding:0px;
}

.contact__items ul li:first-child {
  margin-left: 3px;
}

.footer-title {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.part-title__left { color: #000; font-weight: bold; font-size:22px;}
.part-title__right { color: #00a3d7; font-size:22px;}
.part-title-01 {color: #000; font-size: 16px;}
.part-title-02 {color: #00a3d7; font-size: 16px;}


.list-unstyled__first {
  list-style-type: none;
  margin-left: -42px !important;
}

.row {
    margin: 0 0 10px 0;
}

.container-fluid {
    width: 75%;
    text-align: justify;
    line-height: 160%;
    padding: 0;
}

.loader-noscroll {
  overflow: hidden !important;
}

.loader-wrapper {
    height: 100%;
    width: 100%;
    background: #e9ebee;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.loader {
    border-radius: 50%;
    border-top: 1px solid #00a3d7;
    border-bottom: 1px solid #00a3d7;
    width: 200px;
    height: 200px;
    -webkit-animation: spin 1s ease-out infinite;
    animation: spin 1s ease-out infinite;
    background: #e9ebee;
    zoom: 1;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.loader-text {
    display: block;
    position: absolute;
    text-align: center;
    margin-top: 0.5em;
    font-size: 1.5em;
    left: calc(50% - 87px);
    top: calc(50% - 30px);
  }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#particle-canvas { width: 100%; height: 340px; padding-left: 15px; padding-right: 15px; }

.page-header-logo { font-size: 38px; margin-left: 20px; letter-spacing: 1px; font-weight: normal; line-height: 160%;  }
.page-header-logo:hover { text-decoration: none; }
.page-header-logo__left-text { color: #000; font-weight: bold; }
.page-header-logo__right-text { color: #00a3d7; }

.page-banner-text-base { font-size: 30px; font-weight: normal;}


.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 120px;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  padding: 10px;
  display: block;
  width: 200px;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
