<template>
  <div id="app">
    <div id="nav">
    </div>
    <router-view/>
  </div>
</template>

<script>
	export default {
		name: 'App',

		metaInfo: {

        title: 'jamnasoftware.pl - software house, b2c, b2b, ecommerce, erp',

        meta: [
          {name: 'keywords', content: 'it companies poland, top it companies, top it companies poland, software engineers poland, python developers poland, javascript developers poland, software house poland, software development, custom software solutions, software companies poland, app developers poland, web developers poland, mobile app developers'},
          {name: 'description', content: 'IT company dealing with designing custom software solutions. Software development, web and mobile development, system integration, erp, b2b.'},
          {name: 'author', content: 'Jamna Software'}
        ],

        link: [
          {rel: 'canonical', href: 'https://www.my-site.com/my-special-page'}
        ]
        },
	}
</script>

<style lang="scss" scoped>
   @import '@/assets/scss/main.scss'
</style>
