@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

$footer-width: 100%;
$footer-background-color: #20252d;
$footer__left-margin-top: 13%;
$footer-title-font-size: 1.5em;
$footer__left__body-bg: 0.8em;
$footer__left__title-left: #fff;
$footer__left__title-right: #2bb5e3;
$footer__left__title-margin-bottom: 5px; 
$footer__left__body-color: #ccc;
$footer__left__body-font-size: 14px;
$footer__left__body-margin-top: 10px;
$footer__right__title-color: #fff;
$footer__right__title-font-size: 18px;
$footer__right__title-padding-top: 15px;
$footer__right__title-padding-bottom: 0px;
$links-color: #ccc;
$links-hover-color: #fff;
$links-font-size: 14px;
$foundation-text-font-size: 0.7em;

footer {
  width: $footer-width;
  background-color: $footer-background-color;
  font-family: 'Rubik', sans-serif;
}

.navigation-block__title {
  color:#fff; 
  position:relative; 
  bottom: 6px;
}
.help-block{
  position: relative;
  top: 20px;
}
.help-block-bg{
  top: 19px;
}

.help-block__item1 {
  color: #bcc0c4;
  position: relative; 
  bottom: 12px;
  font-size: 0.9em;
}
.help-block__item1-bg {
  font-size: 0.8em;
}
.help-block__item2 {
  color: #bcc0c4;
  position: relative; 
  bottom: 34px;
  font-size: 0.9em;
}
.help-block__item2-bg {
  font-size: 0.8em;
}
.help-block__title {
  color:#fff; 
  position:relative; 
  bottom: 56px;
}
.partners-block__title {
  color:#fff; 
  position:relative; 
  text-align: left;
  bottom: 45px;
}
.idosell {
  text-align: left;
  position: relative;
  right: 40px;
}
.navigation-block {
  position: relative;
  left: 3%;
  top: 10px;
}
.navigation-block-bg {
  position: relative;
  left: 5%;
  bottom: 4px;
}
.navigation-block__item {
  color:#bcc0c4; 
  font-size: 0.9em;
}
.navigation-block__item-bg {
  font-size: 0.8em;
}
.crafted-text {
  color: #ccc;
  font-size: 0.8em;
  position: relative;
  left: 1%;
}
.footer__left__body {
  font-size: 0.9em;
}
.footer__left__body-bg {
  font-size: $footer__left__body-bg;
  position: relative;
  left: 35px;
  top: -20px;
}
.footer__left__since-text {
  font-size: 0.8em;
}
.footer__left__since-text-bg {
  font-size: 0.6em;
  margin-bottom: 30px;
}

.footer__left__container {
  position: relative;
  right: 120px;
  padding-bottom: 30px;
}
.footer__left__container-bg {
  position: relative;
  right: 20px;
  padding-bottom: 30px;
}
.footer__right__container {
  position: relative;
  left: 110px;
}
.footer__right__container-bg {
  position: relative;
  left: 60px;
}
.footer__left {
  margin-top: $footer__left-margin-top;
  padding-bottom: 30px;
  color: $footer__left__body-color;
  font-size: $footer__left__body-font-size;
  position:relative;
  top:5%; 
  right: 50%;
}
.footer__left-bg {
  position:relative;
  top:9%; 
  right: 35%;
}
.footer__left__title {
  margin-bottom: $footer__left__title-margin-bottom;
  font-size: $footer-title-font-size;
}
.footer__left__title-bg {
  position: relative;
  left: 35px;
}
.footer__left__title--white {
  color: $footer__left__title-left;
  margin-right: 7%;
}
.footer__left__title--blue {
  color: $footer__left__title-right;
  position: relative;
  right: 10%;
}
.footer__left__title--white-bg {
  color: $footer__left__title-left;
}
.footer__left__title--blue-bg {
  color: $footer__left__title-right;
  position: relative;
  right: 4%;
}
.footer__left__body {
  margin-top: $footer__left__body-margin-top;
}
.footer__right__title {
  color: $footer__right__title-color;
  font-size: $footer__right__title-font-size;
  padding-bottom: $footer__right__title-padding-bottom;
  padding-top: $footer__right__title-padding-top;
}
.footer__links {
  color: $links-color;
  font-size: $links-font-size;
}
a:hover {
  text-decoration: none;
  color: $links-hover-color;
}